In [1]:
db = "./private/private.db"

In [2]:
%load_ext sql
%config SqlMagic.feedback=False
%sql sqlite:///{db}?check_same_thread=false
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///./private/private.db?check_same_thread=false

[('sentences',)]

In [7]:
%sql SELECT * FROM "sentences" LIMIT 10;

 * sqlite:///./private/private.db?check_same_thread=false

[(1, 'To Sherlock Holmes she is always _the_ woman.'),
 (2, 'I have seldom heard him mention her under any other name.'),
 (3, 'In his eyes she eclipses and predominates the whole of her sex.'),
 (4, 'It was not that he felt any emotion akin to love for Irene Adler.'),
 (5, 'All emotions, and that one particularly, were abhorrent to his cold, precise, but admirably balanced mind.'),
 (6, 'He was, I take it, the most perfect reasoning and observing machine that the world has seen; but, as a lover, he would have placed himself in a false position.'),
 (7, 'He never spoke of the softer passions, save with a gibe and a sneer.'),
 (8, 'They were admirable things for the observer—excellent for drawing the veil from men’s motives and actions.'),
 (9, 'But for the trained reasoner to admit such intrusions into his own delicate and finely adjusted temperament was to introduce a distracting factor which might throw a doubt upon all his mental results.'),
 (10, 'Grit in a sensitive instrument, or a crack in one of his own high-power lenses, would not be more disturbing than a strong emotion in a nature such as his.')]

In [10]:
%%sql 
SELECT * FROM "sentences"
WHERE "id" IN (
    14,
    114,
    618,
    630,
    932,
    2230,
    2346,
    3041
)

 * sqlite:///./private/private.db?check_same_thread=false

[(14, 'My own complete happiness, and the home-centred interests which rise up around the man who first finds himself master of his own establishment, were  ... (175 characters truncated) ...  old books, and alternating from week to week between cocaine and ambition, the drowsiness of the drug, and the fierce energy of his own keen nature.'),
 (114, 'Come in! said Holmes.'),
 (618, 'He and a girl of fourteen, who does a bit of simple cooking, and keeps the place clean—that’s all I have in the house, for I am a widower, and never had any family.'),
 (630, '‘Have you never heard of the League of the Red-headed Men?’ he asked, with his eyes open.  ‘Never.'),
 (932, 'We have at least an hour before us, he remarked; for they can hardly take any steps until the good pawnbroker is safely in bed.'),
 (2230, 'Then the page we have seen—  Is such as we might expect.'),
 (2346, 'Upper Swandam Lane is a vile alley lurking behind the high wharves which line the north side of the river to the east of London Bridge.'),
 (3041, 'Bring me the books, Bill, said he.')]

In [ ]:
%%sql
CREATE TABLE coords (
    sentence_id INTEGER NOT NULL,
    start_pos   INTEGER NOT NULL,
    length      INTEGER NOT NULL
);

In [ ]:
%%sql
INSERT INTO coords(sentence_id, start_pos, length) VALUES
    (14,   98,  4),
    (114,   3,  5),
    (618,  72,  9),
    (630,   7,  3),
    (932,  12,  5),
    (2230, 50,  7),
    (2346, 44, 10),
    (3041, 14,  5);

In [12]:
%sql SELECT * FROM "coords";

 * sqlite:///./private/private.db?check_same_thread=false

[(14, 98, 4),
 (114, 3, 5),
 (618, 72, 9),
 (630, 7, 3),
 (932, 12, 5),
 (2230, 50, 7),
 (2346, 44, 10),
 (3041, 14, 5)]

In [15]:
%%sql
CREATE VIEW "message" AS
SELECT substr("sentence", "start_pos", "length") AS "phrase"
FROM "sentences"
JOIN "coords" ON "sentences"."id" = "coords"."sentence_id";

 * sqlite:///./private/private.db?check_same_thread=false

[]

In [ ]:
%sql SELECT * FROM "message";

 * sqlite:///./private/private.db?check_same_thread=false

[('find',),
 ('me in',),
 ('the place',),
 ('you',),
 ('least',),
 ('expect.',),
 ('behind the',),
 ('books',)]