In [1]:
import sqlite3

In [2]:
db = "./dont-panic.db"

In [3]:
%load_ext sql
%config SqlMagic.feedback=False
%sql sqlite:///{db}?check_same_thread=false
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///./dont-panic.db?check_same_thread=false

[('users',), ('user_logs',), ('items',), ('orders',)]

## View the Database Schema

In [4]:
%sql SELECT sql FROM sqlite_master WHERE type='table';

 * sqlite:///./dont-panic.db?check_same_thread=false

[('CREATE TABLE "users" (\n    "id" INTEGER,\n    "username" TEXT NOT NULL UNIQUE,\n    "password" TEXT NOT NULL,\n    PRIMARY KEY("id")\n)',),
 ('CREATE TABLE "user_logs" (\n    "id" INTEGER,\n    "type" TEXT NOT NULL,\n    "old_username" TEXT,\n    "new_username" TEXT,\n    "old_password" TEXT,\n    "new_password" TEXT,\n    PRIMARY KEY("id")\n)',),
 ('CREATE TABLE "items" (\n    "id" INTEGER,\n    "name" TEXT NOT NULL UNIQUE,\n    "price" NUMERIC NOT NULL,\n    PRIMARY KEY("id")\n)',),
 ('CREATE TABLE "orders" (\n    "id" INTEGER,\n    "user_id" INTEGER,\n    "item_id" INTEGER,\n    "quantity" INTEGER NOT NULL CHECK("quantity" > 0),\n    PRIMARY KEY("id"),\n    FOREIGN KEY("user_id") REFERENCES "users"("id"),\n    FOREIGN KEY("item_id") REFERENCES "items"("id")\n)',)]

In [5]:
oops_hash = "982c0381c279d139fd221fce974916e7"

In [6]:
%%sql
SELECT * FROM "users" LIMIT 5;

 * sqlite:///./dont-panic.db?check_same_thread=false

[(1, 'admin', 'e10adc3949ba59abbe56e057f20f883e'),
 (2, 'emily33', '44bf025d27eea66336e5c1133c3827f7'),
 (3, 'zad28', '185f20cc5599d33a1a94eb426112c78a'),
 (4, 'mario17', 'ccce73b2ef30ecf08c9cf0e802fa9149'),
 (5, 'ezra2', 'dbbe590bcc018ea53ca04caf89e0a98c')]

In [7]:
%%sql
SELECT * FROM "user_logs";

 * sqlite:///./dont-panic.db?check_same_thread=false

[(1, 'insert', None, 'admin', None, 'e10adc3949ba59abbe56e057f20f883e'),
 (2, 'insert', None, 'emily33', None, '44bf025d27eea66336e5c1133c3827f7'),
 (3, 'insert', None, 'zad28', None, '185f20cc5599d33a1a94eb426112c78a'),
 (4, 'insert', None, 'mario17', None, 'ccce73b2ef30ecf08c9cf0e802fa9149'),
 (5, 'insert', None, 'ezra2', None, 'dbbe590bcc018ea53ca04caf89e0a98c'),
 (6, 'insert', None, 'varsha15', None, '9ce87254bdeb236140b9f16382e88589'),
 (7, 'insert', None, 'jonathan30', None, 'ce4db146e55cd5518a337dbadffc7a45'),
 (8, 'insert', None, 'dalila20', None, 'f73bbedf4dcabf7504b6e7358dd60c79'),
 (9, 'insert', None, 'jennifer18', None, '3cb8c29b3106e0f395fbbdb9ed9d7eb6'),
 (10, 'insert', None, 'carina10', None, '350bbcfcc4b17d00c6df46165bac7d10'),
 (11, 'insert', None, 'ezra1', None, '69c3b6a36e59489ad39c7c33c72c49e5'),
 (12, 'insert', None, 'inko7', None, '45820bdca62a604d8a634b2913b30f63'),
 (13, 'insert', None, 'emily12', None, '68329a186167a2816b77a9bd4f2142d6'),
 (14, 'insert', None, 'ivy29', None, '6f6587dbfca09704147bbe94309689e1'),
 (15, 'insert', None, 'rebeca15', None, '0c0d7b705c8f4f48bff1842b63b5a280'),
 (16, 'insert', None, 'patrick20', None, '649cd60b242e87f39fc2980c14ffde88'),
 (17, 'insert', None, 'mikel18', None, '08202223c7f962d9738454fae63e714e'),
 (18, 'insert', None, 'erin14', None, 'c0281fb1f443be78c579c5eb88bddfda'),
 (19, 'insert', None, 'isabel0', None, '1cc19db8c596327e6924d28a78a1b099'),
 (20, 'insert', None, 'aaron13', None, '9930bb254af746d84cbfa221985fa439'),
 (21, 'insert', None, 'clara16', None, '9df7d267cb869ee059e93afb6a08660a'),
 (22, 'insert', None, 'jocelyn2', None, '592f1299768248a0d13ab2c55e8d51f5'),
 (23, 'insert', None, 'clara25', None, 'f65015d784f2ba7c2b4cf47e4d8916bf'),
 (24, 'insert', None, 'patrick10', None, '9cbd6ca6f521d20f6d1c22d40a107047'),
 (25, 'insert', None, 'paul27', None, '7d0c8fa06ff6e9cbd55775ac4838f508'),
 (26, 'insert', None, 'yang0', None, '18630c2d0c6a1c1862b5b5a2869ef342'),
 (27, 'insert', None, 'ezra23', None, 'e528c5ce4c19fc1064ade21475cddf4c'),
 (28, 'insert', None, 'jocelyn16', None, 'fabcb49723fb2e0b4683c3a2626ea220'),
 (29, 'insert', None, 'elizabeth7', None, '7272d39766a37bca8967e251916f9665'),
 (30, 'insert', None, 'jennifer17', None, 'd7adc2936b9e2680d5d977c89b9f21bd'),
 (31, 'insert', None, 'dhrub2', None, '9bc042600ae8741069cfc116b065093b'),
 (32, 'insert', None, 'brave4', None, 'e82c138ff1e38744b73d510da3d8d185'),
 (33, 'insert', None, 'carina1', None, 'c0394056b7b0ded02b3ddee88b988bd7'),
 (34, 'insert', None, 'yang11', None, '361bc487a4079079ab0f6558b454c35a'),
 (35, 'insert', None, 'clara9', None, 'c706892f7a54eba297ea94c8ebdce47d'),
 (36, 'insert', None, 'inno5', None, '933c2f41371d13982832a97020304d73'),
 (37, 'insert', None, 'jacob15', None, '8d65e694c01878a543970fa134248db7'),
 (38, 'insert', None, 'josh22', None, '36705480e31e308131a2e673cae2d969'),
 (39, 'insert', None, 'julianna0', None, 'ee079a517583028835251df2c68e639b'),
 (40, 'insert', None, 'vanessa2', None, '5a6faeb4f307e28b83470f772f45ccc8'),
 (41, 'insert', None, 'alyssa10', None, '763524b49741e002a653a6f4d769bd53'),
 (42, 'insert', None, 'rachna25', None, '15ced43952ed37b6cc1e7fbb541226e2'),
 (43, 'insert', None, 'elizabeth3', None, '54302540de7c69cea3470df9ca8e0a5d'),
 (44, 'insert', None, 'jared24', None, 'c4fcae955dd618aa7e44ebf63dbc9092'),
 (45, 'insert', None, 'grace15', None, '66fd5febb0fbe65e8ca14bf67fb263cd'),
 (46, 'insert', None, 'erin28', None, '4ef7b2cc7615b90c7bf122e978659ed0'),
 (47, 'insert', None, 'michael14', None, '453e95ea5a1027d76585d74ba526bd94'),
 (48, 'insert', None, 'samuel8', None, '873cbddd95f9bc3f38763acf1a2fb42b'),
 (49, 'insert', None, 'kyra13', None, '1ecf27e248c05f938bd5354e539b6d1f'),
 (50, 'insert', None, 'adam1', None, '2136622ffb4269f1fdb6264266b4711b'),
 (51, 'update', 'jacob15', 'jacob15', '8d65e694c01878a543970fa134248db7', '5f4dcc3b5aa765d61d8327deb882cf99')]

## Create the fake password change log first

In [8]:
%%sql
INSERT INTO "user_logs" ("type", "old_username", "new_username", "old_password", "new_password")
VALUES ('update', 'admin', 'admin', 
        (SELECT "password" FROM "users" WHERE "username" = 'admin'),
        (SELECT "password" FROM "users" WHERE "username" = 'emily33'));

 * sqlite:///./dont-panic.db?check_same_thread=false

[]

In [9]:
%%sql
SELECT * FROM "user_logs";

 * sqlite:///./dont-panic.db?check_same_thread=false

[(1, 'insert', None, 'admin', None, 'e10adc3949ba59abbe56e057f20f883e'),
 (2, 'insert', None, 'emily33', None, '44bf025d27eea66336e5c1133c3827f7'),
 (3, 'insert', None, 'zad28', None, '185f20cc5599d33a1a94eb426112c78a'),
 (4, 'insert', None, 'mario17', None, 'ccce73b2ef30ecf08c9cf0e802fa9149'),
 (5, 'insert', None, 'ezra2', None, 'dbbe590bcc018ea53ca04caf89e0a98c'),
 (6, 'insert', None, 'varsha15', None, '9ce87254bdeb236140b9f16382e88589'),
 (7, 'insert', None, 'jonathan30', None, 'ce4db146e55cd5518a337dbadffc7a45'),
 (8, 'insert', None, 'dalila20', None, 'f73bbedf4dcabf7504b6e7358dd60c79'),
 (9, 'insert', None, 'jennifer18', None, '3cb8c29b3106e0f395fbbdb9ed9d7eb6'),
 (10, 'insert', None, 'carina10', None, '350bbcfcc4b17d00c6df46165bac7d10'),
 (11, 'insert', None, 'ezra1', None, '69c3b6a36e59489ad39c7c33c72c49e5'),
 (12, 'insert', None, 'inko7', None, '45820bdca62a604d8a634b2913b30f63'),
 (13, 'insert', None, 'emily12', None, '68329a186167a2816b77a9bd4f2142d6'),
 (14, 'insert', None, 'ivy29', None, '6f6587dbfca09704147bbe94309689e1'),
 (15, 'insert', None, 'rebeca15', None, '0c0d7b705c8f4f48bff1842b63b5a280'),
 (16, 'insert', None, 'patrick20', None, '649cd60b242e87f39fc2980c14ffde88'),
 (17, 'insert', None, 'mikel18', None, '08202223c7f962d9738454fae63e714e'),
 (18, 'insert', None, 'erin14', None, 'c0281fb1f443be78c579c5eb88bddfda'),
 (19, 'insert', None, 'isabel0', None, '1cc19db8c596327e6924d28a78a1b099'),
 (20, 'insert', None, 'aaron13', None, '9930bb254af746d84cbfa221985fa439'),
 (21, 'insert', None, 'clara16', None, '9df7d267cb869ee059e93afb6a08660a'),
 (22, 'insert', None, 'jocelyn2', None, '592f1299768248a0d13ab2c55e8d51f5'),
 (23, 'insert', None, 'clara25', None, 'f65015d784f2ba7c2b4cf47e4d8916bf'),
 (24, 'insert', None, 'patrick10', None, '9cbd6ca6f521d20f6d1c22d40a107047'),
 (25, 'insert', None, 'paul27', None, '7d0c8fa06ff6e9cbd55775ac4838f508'),
 (26, 'insert', None, 'yang0', None, '18630c2d0c6a1c1862b5b5a2869ef342'),
 (27, 'insert', None, 'ezra23', None, 'e528c5ce4c19fc1064ade21475cddf4c'),
 (28, 'insert', None, 'jocelyn16', None, 'fabcb49723fb2e0b4683c3a2626ea220'),
 (29, 'insert', None, 'elizabeth7', None, '7272d39766a37bca8967e251916f9665'),
 (30, 'insert', None, 'jennifer17', None, 'd7adc2936b9e2680d5d977c89b9f21bd'),
 (31, 'insert', None, 'dhrub2', None, '9bc042600ae8741069cfc116b065093b'),
 (32, 'insert', None, 'brave4', None, 'e82c138ff1e38744b73d510da3d8d185'),
 (33, 'insert', None, 'carina1', None, 'c0394056b7b0ded02b3ddee88b988bd7'),
 (34, 'insert', None, 'yang11', None, '361bc487a4079079ab0f6558b454c35a'),
 (35, 'insert', None, 'clara9', None, 'c706892f7a54eba297ea94c8ebdce47d'),
 (36, 'insert', None, 'inno5', None, '933c2f41371d13982832a97020304d73'),
 (37, 'insert', None, 'jacob15', None, '8d65e694c01878a543970fa134248db7'),
 (38, 'insert', None, 'josh22', None, '36705480e31e308131a2e673cae2d969'),
 (39, 'insert', None, 'julianna0', None, 'ee079a517583028835251df2c68e639b'),
 (40, 'insert', None, 'vanessa2', None, '5a6faeb4f307e28b83470f772f45ccc8'),
 (41, 'insert', None, 'alyssa10', None, '763524b49741e002a653a6f4d769bd53'),
 (42, 'insert', None, 'rachna25', None, '15ced43952ed37b6cc1e7fbb541226e2'),
 (43, 'insert', None, 'elizabeth3', None, '54302540de7c69cea3470df9ca8e0a5d'),
 (44, 'insert', None, 'jared24', None, 'c4fcae955dd618aa7e44ebf63dbc9092'),
 (45, 'insert', None, 'grace15', None, '66fd5febb0fbe65e8ca14bf67fb263cd'),
 (46, 'insert', None, 'erin28', None, '4ef7b2cc7615b90c7bf122e978659ed0'),
 (47, 'insert', None, 'michael14', None, '453e95ea5a1027d76585d74ba526bd94'),
 (48, 'insert', None, 'samuel8', None, '873cbddd95f9bc3f38763acf1a2fb42b'),
 (49, 'insert', None, 'kyra13', None, '1ecf27e248c05f938bd5354e539b6d1f'),
 (50, 'insert', None, 'adam1', None, '2136622ffb4269f1fdb6264266b4711b'),
 (51, 'update', 'jacob15', 'jacob15', '8d65e694c01878a543970fa134248db7', '5f4dcc3b5aa765d61d8327deb882cf99'),
 (52, 'update', 'admin', 'admin', 'e10adc3949ba59abbe56e057f20f883e', '44bf025d27eea66336e5c1133c3827f7')]

## Change the password to 'oops!'

In [10]:
%%sql
UPDATE "users" 
SET "password" = '982c0381c279d139fd221fce974916e7' 
WHERE "username" = 'admin';

 * sqlite:///./dont-panic.db?check_same_thread=false

[]

In [11]:
%%sql
SELECT * FROM "user_logs";

 * sqlite:///./dont-panic.db?check_same_thread=false

[(1, 'insert', None, 'admin', None, 'e10adc3949ba59abbe56e057f20f883e'),
 (2, 'insert', None, 'emily33', None, '44bf025d27eea66336e5c1133c3827f7'),
 (3, 'insert', None, 'zad28', None, '185f20cc5599d33a1a94eb426112c78a'),
 (4, 'insert', None, 'mario17', None, 'ccce73b2ef30ecf08c9cf0e802fa9149'),
 (5, 'insert', None, 'ezra2', None, 'dbbe590bcc018ea53ca04caf89e0a98c'),
 (6, 'insert', None, 'varsha15', None, '9ce87254bdeb236140b9f16382e88589'),
 (7, 'insert', None, 'jonathan30', None, 'ce4db146e55cd5518a337dbadffc7a45'),
 (8, 'insert', None, 'dalila20', None, 'f73bbedf4dcabf7504b6e7358dd60c79'),
 (9, 'insert', None, 'jennifer18', None, '3cb8c29b3106e0f395fbbdb9ed9d7eb6'),
 (10, 'insert', None, 'carina10', None, '350bbcfcc4b17d00c6df46165bac7d10'),
 (11, 'insert', None, 'ezra1', None, '69c3b6a36e59489ad39c7c33c72c49e5'),
 (12, 'insert', None, 'inko7', None, '45820bdca62a604d8a634b2913b30f63'),
 (13, 'insert', None, 'emily12', None, '68329a186167a2816b77a9bd4f2142d6'),
 (14, 'insert', None, 'ivy29', None, '6f6587dbfca09704147bbe94309689e1'),
 (15, 'insert', None, 'rebeca15', None, '0c0d7b705c8f4f48bff1842b63b5a280'),
 (16, 'insert', None, 'patrick20', None, '649cd60b242e87f39fc2980c14ffde88'),
 (17, 'insert', None, 'mikel18', None, '08202223c7f962d9738454fae63e714e'),
 (18, 'insert', None, 'erin14', None, 'c0281fb1f443be78c579c5eb88bddfda'),
 (19, 'insert', None, 'isabel0', None, '1cc19db8c596327e6924d28a78a1b099'),
 (20, 'insert', None, 'aaron13', None, '9930bb254af746d84cbfa221985fa439'),
 (21, 'insert', None, 'clara16', None, '9df7d267cb869ee059e93afb6a08660a'),
 (22, 'insert', None, 'jocelyn2', None, '592f1299768248a0d13ab2c55e8d51f5'),
 (23, 'insert', None, 'clara25', None, 'f65015d784f2ba7c2b4cf47e4d8916bf'),
 (24, 'insert', None, 'patrick10', None, '9cbd6ca6f521d20f6d1c22d40a107047'),
 (25, 'insert', None, 'paul27', None, '7d0c8fa06ff6e9cbd55775ac4838f508'),
 (26, 'insert', None, 'yang0', None, '18630c2d0c6a1c1862b5b5a2869ef342'),
 (27, 'insert', None, 'ezra23', None, 'e528c5ce4c19fc1064ade21475cddf4c'),
 (28, 'insert', None, 'jocelyn16', None, 'fabcb49723fb2e0b4683c3a2626ea220'),
 (29, 'insert', None, 'elizabeth7', None, '7272d39766a37bca8967e251916f9665'),
 (30, 'insert', None, 'jennifer17', None, 'd7adc2936b9e2680d5d977c89b9f21bd'),
 (31, 'insert', None, 'dhrub2', None, '9bc042600ae8741069cfc116b065093b'),
 (32, 'insert', None, 'brave4', None, 'e82c138ff1e38744b73d510da3d8d185'),
 (33, 'insert', None, 'carina1', None, 'c0394056b7b0ded02b3ddee88b988bd7'),
 (34, 'insert', None, 'yang11', None, '361bc487a4079079ab0f6558b454c35a'),
 (35, 'insert', None, 'clara9', None, 'c706892f7a54eba297ea94c8ebdce47d'),
 (36, 'insert', None, 'inno5', None, '933c2f41371d13982832a97020304d73'),
 (37, 'insert', None, 'jacob15', None, '8d65e694c01878a543970fa134248db7'),
 (38, 'insert', None, 'josh22', None, '36705480e31e308131a2e673cae2d969'),
 (39, 'insert', None, 'julianna0', None, 'ee079a517583028835251df2c68e639b'),
 (40, 'insert', None, 'vanessa2', None, '5a6faeb4f307e28b83470f772f45ccc8'),
 (41, 'insert', None, 'alyssa10', None, '763524b49741e002a653a6f4d769bd53'),
 (42, 'insert', None, 'rachna25', None, '15ced43952ed37b6cc1e7fbb541226e2'),
 (43, 'insert', None, 'elizabeth3', None, '54302540de7c69cea3470df9ca8e0a5d'),
 (44, 'insert', None, 'jared24', None, 'c4fcae955dd618aa7e44ebf63dbc9092'),
 (45, 'insert', None, 'grace15', None, '66fd5febb0fbe65e8ca14bf67fb263cd'),
 (46, 'insert', None, 'erin28', None, '4ef7b2cc7615b90c7bf122e978659ed0'),
 (47, 'insert', None, 'michael14', None, '453e95ea5a1027d76585d74ba526bd94'),
 (48, 'insert', None, 'samuel8', None, '873cbddd95f9bc3f38763acf1a2fb42b'),
 (49, 'insert', None, 'kyra13', None, '1ecf27e248c05f938bd5354e539b6d1f'),
 (50, 'insert', None, 'adam1', None, '2136622ffb4269f1fdb6264266b4711b'),
 (51, 'update', 'jacob15', 'jacob15', '8d65e694c01878a543970fa134248db7', '5f4dcc3b5aa765d61d8327deb882cf99'),
 (52, 'update', 'admin', 'admin', 'e10adc3949ba59abbe56e057f20f883e', '44bf025d27eea66336e5c1133c3827f7'),
 (53, 'update', 'admin', 'admin', 'e10adc3949ba59abbe56e057f20f883e', '982c0381c279d139fd221fce974916e7')]

## Delete the log created after we changed the password

In [12]:
%%sql
DELETE FROM "user_logs"
WHERE "new_username" = 'admin'
  AND "new_password" = (
      SELECT "password" FROM "users" 
      WHERE "username" = 'admin'
  );

 * sqlite:///./dont-panic.db?check_same_thread=false

[]

In [13]:
%%sql
SELECT * FROM "user_logs";

 * sqlite:///./dont-panic.db?check_same_thread=false

[(1, 'insert', None, 'admin', None, 'e10adc3949ba59abbe56e057f20f883e'),
 (2, 'insert', None, 'emily33', None, '44bf025d27eea66336e5c1133c3827f7'),
 (3, 'insert', None, 'zad28', None, '185f20cc5599d33a1a94eb426112c78a'),
 (4, 'insert', None, 'mario17', None, 'ccce73b2ef30ecf08c9cf0e802fa9149'),
 (5, 'insert', None, 'ezra2', None, 'dbbe590bcc018ea53ca04caf89e0a98c'),
 (6, 'insert', None, 'varsha15', None, '9ce87254bdeb236140b9f16382e88589'),
 (7, 'insert', None, 'jonathan30', None, 'ce4db146e55cd5518a337dbadffc7a45'),
 (8, 'insert', None, 'dalila20', None, 'f73bbedf4dcabf7504b6e7358dd60c79'),
 (9, 'insert', None, 'jennifer18', None, '3cb8c29b3106e0f395fbbdb9ed9d7eb6'),
 (10, 'insert', None, 'carina10', None, '350bbcfcc4b17d00c6df46165bac7d10'),
 (11, 'insert', None, 'ezra1', None, '69c3b6a36e59489ad39c7c33c72c49e5'),
 (12, 'insert', None, 'inko7', None, '45820bdca62a604d8a634b2913b30f63'),
 (13, 'insert', None, 'emily12', None, '68329a186167a2816b77a9bd4f2142d6'),
 (14, 'insert', None, 'ivy29', None, '6f6587dbfca09704147bbe94309689e1'),
 (15, 'insert', None, 'rebeca15', None, '0c0d7b705c8f4f48bff1842b63b5a280'),
 (16, 'insert', None, 'patrick20', None, '649cd60b242e87f39fc2980c14ffde88'),
 (17, 'insert', None, 'mikel18', None, '08202223c7f962d9738454fae63e714e'),
 (18, 'insert', None, 'erin14', None, 'c0281fb1f443be78c579c5eb88bddfda'),
 (19, 'insert', None, 'isabel0', None, '1cc19db8c596327e6924d28a78a1b099'),
 (20, 'insert', None, 'aaron13', None, '9930bb254af746d84cbfa221985fa439'),
 (21, 'insert', None, 'clara16', None, '9df7d267cb869ee059e93afb6a08660a'),
 (22, 'insert', None, 'jocelyn2', None, '592f1299768248a0d13ab2c55e8d51f5'),
 (23, 'insert', None, 'clara25', None, 'f65015d784f2ba7c2b4cf47e4d8916bf'),
 (24, 'insert', None, 'patrick10', None, '9cbd6ca6f521d20f6d1c22d40a107047'),
 (25, 'insert', None, 'paul27', None, '7d0c8fa06ff6e9cbd55775ac4838f508'),
 (26, 'insert', None, 'yang0', None, '18630c2d0c6a1c1862b5b5a2869ef342'),
 (27, 'insert', None, 'ezra23', None, 'e528c5ce4c19fc1064ade21475cddf4c'),
 (28, 'insert', None, 'jocelyn16', None, 'fabcb49723fb2e0b4683c3a2626ea220'),
 (29, 'insert', None, 'elizabeth7', None, '7272d39766a37bca8967e251916f9665'),
 (30, 'insert', None, 'jennifer17', None, 'd7adc2936b9e2680d5d977c89b9f21bd'),
 (31, 'insert', None, 'dhrub2', None, '9bc042600ae8741069cfc116b065093b'),
 (32, 'insert', None, 'brave4', None, 'e82c138ff1e38744b73d510da3d8d185'),
 (33, 'insert', None, 'carina1', None, 'c0394056b7b0ded02b3ddee88b988bd7'),
 (34, 'insert', None, 'yang11', None, '361bc487a4079079ab0f6558b454c35a'),
 (35, 'insert', None, 'clara9', None, 'c706892f7a54eba297ea94c8ebdce47d'),
 (36, 'insert', None, 'inno5', None, '933c2f41371d13982832a97020304d73'),
 (37, 'insert', None, 'jacob15', None, '8d65e694c01878a543970fa134248db7'),
 (38, 'insert', None, 'josh22', None, '36705480e31e308131a2e673cae2d969'),
 (39, 'insert', None, 'julianna0', None, 'ee079a517583028835251df2c68e639b'),
 (40, 'insert', None, 'vanessa2', None, '5a6faeb4f307e28b83470f772f45ccc8'),
 (41, 'insert', None, 'alyssa10', None, '763524b49741e002a653a6f4d769bd53'),
 (42, 'insert', None, 'rachna25', None, '15ced43952ed37b6cc1e7fbb541226e2'),
 (43, 'insert', None, 'elizabeth3', None, '54302540de7c69cea3470df9ca8e0a5d'),
 (44, 'insert', None, 'jared24', None, 'c4fcae955dd618aa7e44ebf63dbc9092'),
 (45, 'insert', None, 'grace15', None, '66fd5febb0fbe65e8ca14bf67fb263cd'),
 (46, 'insert', None, 'erin28', None, '4ef7b2cc7615b90c7bf122e978659ed0'),
 (47, 'insert', None, 'michael14', None, '453e95ea5a1027d76585d74ba526bd94'),
 (48, 'insert', None, 'samuel8', None, '873cbddd95f9bc3f38763acf1a2fb42b'),
 (49, 'insert', None, 'kyra13', None, '1ecf27e248c05f938bd5354e539b6d1f'),
 (50, 'insert', None, 'adam1', None, '2136622ffb4269f1fdb6264266b4711b'),
 (51, 'update', 'jacob15', 'jacob15', '8d65e694c01878a543970fa134248db7', '5f4dcc3b5aa765d61d8327deb882cf99'),
 (52, 'update', 'admin', 'admin', 'e10adc3949ba59abbe56e057f20f883e', '44bf025d27eea66336e5c1133c3827f7')]