In [1]:
import sqlite3

## Subqueries

In [2]:
database_name = "longlist"

In [3]:
conn = sqlite3.connect(f"./{database_name}.db")
conn.close()

In [4]:
%load_ext sql
%config SqlMagic.feedback=False
%sql sqlite:///{database_name}.db?check_same_thread=false
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///longlist.db?check_same_thread=false

[('authors',),
 ('authored',),
 ('books',),
 ('publishers',),
 ('ratings',),
 ('translators',),
 ('translated',)]

In [5]:
%%sql
SELECT "id" FROM "publishers"
WHERE "publisher" = 'MacLehose Press';

 * sqlite:///longlist.db?check_same_thread=false

[(12,)]

In [6]:
%%sql
SELECT "title" FROM "books"
WHERE "publisher_id" = 12;

 * sqlite:///longlist.db?check_same_thread=false

[('Standing Heavy',),
 ('Jimi Hendrix Live in Lviv',),
 ('An Inventory of Losses',),
 ('The Faculty of Dreams',),
 ('The Shape of the Ruins',),
 ('The Impostor',),
 ('Vernon Subutex 1',)]

In [7]:
%%sql
SELECT "title" FROM "books"
WHERE "publisher_id" = (
    SELECT "id" FROM "publishers"
    WHERE "publisher" = 'MacLehose Press'
);

 * sqlite:///longlist.db?check_same_thread=false

[('Standing Heavy',),
 ('Jimi Hendrix Live in Lviv',),
 ('An Inventory of Losses',),
 ('The Faculty of Dreams',),
 ('The Shape of the Ruins',),
 ('The Impostor',),
 ('Vernon Subutex 1',)]

In [8]:
%%sql
SELECT "id" FROM "books"
WHERE "title" = 'In Memory of Memory';

 * sqlite:///longlist.db?check_same_thread=false

[(33,)]

In [9]:
%%sql
SELECT "rating" FROM "ratings"
WHERE "book_id" = 33;

 * sqlite:///longlist.db?check_same_thread=false

[(3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (5,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (3,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (5,),
 (3,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (5,),
 (3,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (5,),
 (3,),
 (5,),
 (3,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (5,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (5,),
 (4,),
 (5,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (5,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (5,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (3,),
 (4,),
 (2,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (5,),
 (5,),
 (4,),
 (3,),
 (3,),
 (3,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (5,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (5,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (2,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (3,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (5,),
 (4,),
 (3,),
 (5,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 ...]

In [10]:
%%sql
SELECT "rating" FROM "ratings"
WHERE "book_id" = (
    SELECT "id" FROM "books"
    WHERE "title" = 'In Memory of Memory'
);

 * sqlite:///longlist.db?check_same_thread=false

[(3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (5,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (3,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (5,),
 (3,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (5,),
 (3,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (5,),
 (3,),
 (5,),
 (3,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (5,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (5,),
 (4,),
 (5,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (5,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (5,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (3,),
 (4,),
 (2,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (5,),
 (5,),
 (4,),
 (3,),
 (3,),
 (3,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (5,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (5,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (5,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (2,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (3,),
 (3,),
 (4,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (3,),
 (3,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (5,),
 (4,),
 (4,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (3,),
 (4,),
 (4,),
 (3,),
 (3,),
 (3,),
 (5,),
 (4,),
 (3,),
 (5,),
 (4,),
 (5,),
 (4,),
 (4,),
 (3,),
 (4,),
 (4,),
 (5,),
 (4,),
 (3,),
 ...]

In [11]:
%%sql
SELECT AVG("rating") FROM "ratings"
WHERE "book_id" = (
    SELECT "id" FROM "books"
    WHERE "title" = 'In Memory of Memory'
);

 * sqlite:///longlist.db?check_same_thread=false

[(3.8603603603603602,)]

In [12]:
%%sql
SELECT "name" FROM "authors"
WHERE "id" = (
        SELECT "author_id" FROM "authored"
        WHERE "book_id" = (
            SELECT "id" FROM "books"
            WHERE "title" = 'Flights'
    )
);

 * sqlite:///longlist.db?check_same_thread=false

[('Olga Tokarczuk',)]

In [13]:
%%sql
SELECT "id" FROM "books"
WHERE "title" = 'The Birthday Party';

 * sqlite:///longlist.db?check_same_thread=false

[(8,)]

In [14]:
%%sql
SELECT "author_id" FROM "authored"
WHERE "book_id" = 8;

 * sqlite:///longlist.db?check_same_thread=false

[(44,)]

In [15]:
%%sql
SELECT "name" FROM "authors"
WHERE "id" = 44;

 * sqlite:///longlist.db?check_same_thread=false

[('Laurent Mauvignier',)]

In [16]:
%%sql
SELECT "name" FROM "authors"
WHERE "id" = (
        SELECT "author_id" FROM "authored"
        WHERE "book_id" = (
            SELECT "id" FROM "books"
            WHERE "title" = 'The Birthday Party'
    )
);

 * sqlite:///longlist.db?check_same_thread=false

[('Laurent Mauvignier',)]

In [17]:
%%sql
SELECT "id" FROM "authors" 
WHERE "name" = 'Fernanda Melchor';

 * sqlite:///longlist.db?check_same_thread=false

[(24,)]

In [18]:
%%sql
SELECT "book_id" FROM "authored"
WHERE "author_id" = 24;

 * sqlite:///longlist.db?check_same_thread=false

[(14,), (48,)]

In [19]:
%%sql
SELECT "title" FROM "books" 
WHERE "id" IN (14, 48);

 * sqlite:///longlist.db?check_same_thread=false

[('Paradais',), ('Hurricane Season',)]

In [20]:
%%sql
SELECT "title" FROM "books" 
WHERE "id" IN (
    SELECT "book_id" FROM "authored"
    WHERE "author_id" = (
        SELECT "id" FROM "authors" 
        WHERE "name" = 'Fernanda Melchor'
    )
);

 * sqlite:///longlist.db?check_same_thread=false

[('Paradais',), ('Hurricane Season',)]

## Joins

In [21]:
database_name = "sea_lions"

In [22]:
conn = sqlite3.connect(f"./{database_name}.db")
conn.close()

In [23]:
%sql sqlite:///{database_name}.db?check_same_thread=false
%sql SELECT name FROM sqlite_master WHERE type='table';

   sqlite:///longlist.db?check_same_thread=false
 * sqlite:///sea_lions.db?check_same_thread=false

[('sea_lions',), ('migrations',)]

In [24]:
%%sql
SELECT * FROM "sea_lions";

   sqlite:///longlist.db?check_same_thread=false
 * sqlite:///sea_lions.db?check_same_thread=false

[(10484, 'Ayah', 'Zalophus californianus'),
 (11728, 'Spot', 'Zalophus californianus'),
 (11729, 'Tiger', 'Zalophus californianus'),
 (11732, 'Mabel', 'Zalophus californianus'),
 (11734, 'Rick', 'Zalophus californianus'),
 (11790, 'Jolee', 'Zalophus californianus')]

In [25]:
%%sql
SELECT * FROM "migrations";

   sqlite:///longlist.db?check_same_thread=false
 * sqlite:///sea_lions.db?check_same_thread=false

[(10484, 1000, 107),
 (11728, 1531, 56),
 (11729, 1370, 37),
 (11732, 1622, 62),
 (11734, 1491, 58),
 (11735, 2723, 82),
 (11736, 1571, 52),
 (11737, 1957, 92)]

### INNER JOIN

In [26]:
%%sql
SELECT * FROM "sea_lions"
JOIN "migrations" 
ON "migrations"."id" = "sea_lions"."id";

   sqlite:///longlist.db?check_same_thread=false
 * sqlite:///sea_lions.db?check_same_thread=false

[(10484, 'Ayah', 'Zalophus californianus', 10484, 1000, 107),
 (11728, 'Spot', 'Zalophus californianus', 11728, 1531, 56),
 (11729, 'Tiger', 'Zalophus californianus', 11729, 1370, 37),
 (11732, 'Mabel', 'Zalophus californianus', 11732, 1622, 62),
 (11734, 'Rick', 'Zalophus californianus', 11734, 1491, 58)]

### LEFT JOIN

In [27]:
%%sql
SELECT * FROM "sea_lions"
LEFT JOIN "migrations" 
ON "migrations"."id" = "sea_lions"."id";

   sqlite:///longlist.db?check_same_thread=false
 * sqlite:///sea_lions.db?check_same_thread=false

[(10484, 'Ayah', 'Zalophus californianus', 10484, 1000, 107),
 (11728, 'Spot', 'Zalophus californianus', 11728, 1531, 56),
 (11729, 'Tiger', 'Zalophus californianus', 11729, 1370, 37),
 (11732, 'Mabel', 'Zalophus californianus', 11732, 1622, 62),
 (11734, 'Rick', 'Zalophus californianus', 11734, 1491, 58),
 (11790, 'Jolee', 'Zalophus californianus', None, None, None)]

### RIGHT JOIN

In [28]:
%%sql
SELECT * FROM "sea_lions"
RIGHT JOIN "migrations" 
ON "migrations"."id" = "sea_lions"."id";

   sqlite:///longlist.db?check_same_thread=false
 * sqlite:///sea_lions.db?check_same_thread=false

[(10484, 'Ayah', 'Zalophus californianus', 10484, 1000, 107),
 (11728, 'Spot', 'Zalophus californianus', 11728, 1531, 56),
 (11729, 'Tiger', 'Zalophus californianus', 11729, 1370, 37),
 (11732, 'Mabel', 'Zalophus californianus', 11732, 1622, 62),
 (11734, 'Rick', 'Zalophus californianus', 11734, 1491, 58),
 (None, None, None, 11735, 2723, 82),
 (None, None, None, 11736, 1571, 52),
 (None, None, None, 11737, 1957, 92)]

### FULL JOIN

In [29]:
%%sql
SELECT * FROM "sea_lions"
FULL JOIN "migrations" 
ON "migrations"."id" = "sea_lions"."id";

   sqlite:///longlist.db?check_same_thread=false
 * sqlite:///sea_lions.db?check_same_thread=false

[(10484, 'Ayah', 'Zalophus californianus', 10484, 1000, 107),
 (11728, 'Spot', 'Zalophus californianus', 11728, 1531, 56),
 (11729, 'Tiger', 'Zalophus californianus', 11729, 1370, 37),
 (11732, 'Mabel', 'Zalophus californianus', 11732, 1622, 62),
 (11734, 'Rick', 'Zalophus californianus', 11734, 1491, 58),
 (11790, 'Jolee', 'Zalophus californianus', None, None, None),
 (None, None, None, 11735, 2723, 82),
 (None, None, None, 11736, 1571, 52),
 (None, None, None, 11737, 1957, 92)]

### NATURAL JOIN

In [30]:
%%sql
SELECT * FROM "sea_lions"
NATURAL JOIN "migrations";

   sqlite:///longlist.db?check_same_thread=false
 * sqlite:///sea_lions.db?check_same_thread=false

[(10484, 'Ayah', 'Zalophus californianus', 1000, 107),
 (11728, 'Spot', 'Zalophus californianus', 1531, 56),
 (11729, 'Tiger', 'Zalophus californianus', 1370, 37),
 (11732, 'Mabel', 'Zalophus californianus', 1622, 62),
 (11734, 'Rick', 'Zalophus californianus', 1491, 58)]

## Sets

In [31]:
%sql sqlite:///longlist.db?check_same_thread=false

'Connected: @longlist.db'

In [32]:
%sql SELECT "name" FROM sqlite_master WHERE type='table';

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[('authors',),
 ('authored',),
 ('books',),
 ('publishers',),
 ('ratings',),
 ('translators',),
 ('translated',)]

In [33]:
%%sql
SELECT "name" FROM "translators";

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[('Adrian Nathan West',),
 ('Alison L. Strayer',),
 ('Angela Rodel',),
 ('Aniruddhan Vasudevan',),
 ('Anna Moschovakis',),
 ('Anne McLean',),
 ('Annelise Finegan Wasmoen',),
 ('Anton Hur',),
 ('Antonia Lloyd-Jones',),
 ('Camilo A. Ramirez',),
 ('Carolina Orloff',),
 ('Charlotte Barslund',),
 ('Charlotte Collins',),
 ('Chen Zeping',),
 ('Daisy Rockwell',),
 ('Damion Searls',),
 ('Daniel Hahn',),
 ('Daniel Levin Becker',),
 ('Darryl Sterk',),
 ('David Boyd',),
 ('David Doherty',),
 ('Deborah Bragan-Turner',),
 ('Deborah Smith',),
 ('Eileen Myles',),
 ('Elisabeth Jaquette',),
 ('Elizabeth Heighway',),
 ('Fiona Mackintosh',),
 ('Frances Riddle',),
 ('Frank Wynne',),
 ('George Szirtes',),
 ('Iona Macintyre',),
 ('Jackie Smith',),
 ('Jae Won Chung',),
 ('Jen Calleja',),
 ('Jennifer Croft',),
 ('Jennifer Higgins',),
 ('Jeremy Tiang',),
 ('Jessica Cohen',),
 ('John Batki',),
 ('Jonathan Wright',),
 ('Karen Gernant',),
 ('Katy Derbyshire',),
 ('Leslie Camhi',),
 ('Margaret Jull Costa',),
 ('Marilyn Booth',),
 ('Mark Polizzotti',),
 ('Martin Aitken',),
 ('Megan McDowell',),
 ('Michele Hutchinson',),
 ('Michiel Heyns',),
 ('Natasha Wimmer',),
 ('Nichola Smalley',),
 ("Nicole d'Amonville Alegra",),
 ('Ottilie Mulzet',),
 ('Reuben Woolley',),
 ('Richard Philcox',),
 ('Rosalind Harvey',),
 ('Ross Benjamin',),
 ('Ruth Martin',),
 ('Sam Bett',),
 ('Sam Garrett',),
 ('Sam Taylor',),
 ('Sarah Moses',),
 ('Sasha Dugdale',),
 ('Shaun Whiteside',),
 ('Sherilyn Nicolette Hellberg',),
 ('Simon Pare',),
 ('Sophie Hughes',),
 ('Sophie Lewis',),
 ('Sora Kim-Russell',),
 ('Stephen Snyder',),
 ('Susan Bernofsky',),
 ('Tiffany Tsao',),
 ("Ngg wa Thiong'o",)]

In [34]:
%%sql
SELECT "name" FROM "authors";

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[('Adania Shibli',),
 ('Ahmed Saadawi',),
 ('Alia Trabucco Zern',),
 ('Amanda Svensson',),
 ('Andrey Kurkov',),
 ('Andrzej Tichy',),
 ('Annie Ernaux',),
 ('Antonio Muoz Molina',),
 ('Ariana Harwicz',),
 ('Benajamn Labatut',),
 ('Bora Chung',),
 ('Can Xue',),
 ('Cheon Myeong-Kwan',),
 ('Christoph Ransmayr',),
 ('Claudia Pieiro',),
 ('Clemens Meyer',),
 ('Daniel Kehlmann',),
 ('David Diop',),
 ('David Grossman',),
 ('Emmanuelle Pagano',),
 ('Enrique Vila-Matas',),
 ('ric Vuillard',),
 ('Eva Baltasar',),
 ('Fernanda Melchor',),
 ('Gabriela Cabezn Cmara',),
 ('Gabriela Ybarra',),
 ('Gauz',),
 ('Geentanjali Shree',),
 ('Georgi Gospodinov',),
 ('Guadalupe Nettel',),
 ('Han Kang',),
 ('Hubert Mingarelli',),
 ('Hwang Sok-yong',),
 ('Jaap Robben',),
 ('Javier Cercas',),
 ('Jenny Erpenbeck',),
 ('Jokha Alharthi',),
 ('Jon Fosse',),
 ('Jonas Eika',),
 ('Juan Gabriel Vsquez',),
 ('Judith Schalansky',),
 ('Lszl Krasznahorkai',),
 ('Laurent Binet',),
 ('Laurent Mauvignier',),
 ('Maria Stepanova',),
 ('Mariana Enrquez',),
 ('Marieke Lucas Rijneveld',),
 ('Marion Poschmann',),
 ('Maryse Cond',),
 ('Mazen Maarouf',),
 ('Michel Houellebecq',),
 ('Mieko Kawakami',),
 ('Nana Ekvtimishvili',),
 ("Ngg wa Thiong'o",),
 ('Nino Haratischvili',),
 ('Norman Erikson Pasaribu',),
 ('Olga Ravn',),
 ('Olga Tokarczuk',),
 ('Paulo Scott',),
 ('Perumal Murugan',),
 ('Samanta Schweblin',),
 ('Sang Young Park',),
 ('Sara Stridsberg',),
 ('Shokoofeh Azar',),
 ('Tommy Wieringa',),
 ('Vigdis Hjorth',),
 ('Violaine Huisman',),
 ('Virginie Despentes',),
 ('Willem Anker',),
 ('Wu Ming-Yi',),
 ('Yko Ogawa',),
 ('Zou Jingzhi',)]

### UNION

In [35]:
%%sql
SELECT "name" FROM "translators"
UNION
SELECT "name" FROM "authors";

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[('Adania Shibli',),
 ('Adrian Nathan West',),
 ('Ahmed Saadawi',),
 ('Alia Trabucco Zern',),
 ('Alison L. Strayer',),
 ('Amanda Svensson',),
 ('Andrey Kurkov',),
 ('Andrzej Tichy',),
 ('Angela Rodel',),
 ('Aniruddhan Vasudevan',),
 ('Anna Moschovakis',),
 ('Anne McLean',),
 ('Annelise Finegan Wasmoen',),
 ('Annie Ernaux',),
 ('Anton Hur',),
 ('Antonia Lloyd-Jones',),
 ('Antonio Muoz Molina',),
 ('Ariana Harwicz',),
 ('Benajamn Labatut',),
 ('Bora Chung',),
 ('Camilo A. Ramirez',),
 ('Can Xue',),
 ('Carolina Orloff',),
 ('Charlotte Barslund',),
 ('Charlotte Collins',),
 ('Chen Zeping',),
 ('Cheon Myeong-Kwan',),
 ('Christoph Ransmayr',),
 ('Claudia Pieiro',),
 ('Clemens Meyer',),
 ('Daisy Rockwell',),
 ('Damion Searls',),
 ('Daniel Hahn',),
 ('Daniel Kehlmann',),
 ('Daniel Levin Becker',),
 ('Darryl Sterk',),
 ('David Boyd',),
 ('David Diop',),
 ('David Doherty',),
 ('David Grossman',),
 ('Deborah Bragan-Turner',),
 ('Deborah Smith',),
 ('Eileen Myles',),
 ('Elisabeth Jaquette',),
 ('Elizabeth Heighway',),
 ('Emmanuelle Pagano',),
 ('Enrique Vila-Matas',),
 ('Eva Baltasar',),
 ('Fernanda Melchor',),
 ('Fiona Mackintosh',),
 ('Frances Riddle',),
 ('Frank Wynne',),
 ('Gabriela Cabezn Cmara',),
 ('Gabriela Ybarra',),
 ('Gauz',),
 ('Geentanjali Shree',),
 ('George Szirtes',),
 ('Georgi Gospodinov',),
 ('Guadalupe Nettel',),
 ('Han Kang',),
 ('Hubert Mingarelli',),
 ('Hwang Sok-yong',),
 ('Iona Macintyre',),
 ('Jaap Robben',),
 ('Jackie Smith',),
 ('Jae Won Chung',),
 ('Javier Cercas',),
 ('Jen Calleja',),
 ('Jennifer Croft',),
 ('Jennifer Higgins',),
 ('Jenny Erpenbeck',),
 ('Jeremy Tiang',),
 ('Jessica Cohen',),
 ('John Batki',),
 ('Jokha Alharthi',),
 ('Jon Fosse',),
 ('Jonas Eika',),
 ('Jonathan Wright',),
 ('Juan Gabriel Vsquez',),
 ('Judith Schalansky',),
 ('Karen Gernant',),
 ('Katy Derbyshire',),
 ('Laurent Binet',),
 ('Laurent Mauvignier',),
 ('Leslie Camhi',),
 ('Lszl Krasznahorkai',),
 ('Margaret Jull Costa',),
 ('Maria Stepanova',),
 ('Mariana Enrquez',),
 ('Marieke Lucas Rijneveld',),
 ('Marilyn Booth',),
 ('Marion Poschmann',),
 ('Mark Polizzotti',),
 ('Martin Aitken',),
 ('Maryse Cond',),
 ('Mazen Maarouf',),
 ('Megan McDowell',),
 ('Michel Houellebecq',),
 ('Michele Hutchinson',),
 ('Michiel Heyns',),
 ('Mieko Kawakami',),
 ('Nana Ekvtimishvili',),
 ('Natasha Wimmer',),
 ("Ngg wa Thiong'o",),
 ('Nichola Smalley',),
 ("Nicole d'Amonville Alegra",),
 ('Nino Haratischvili',),
 ('Norman Erikson Pasaribu',),
 ('Olga Ravn',),
 ('Olga Tokarczuk',),
 ('Ottilie Mulzet',),
 ('Paulo Scott',),
 ('Perumal Murugan',),
 ('Reuben Woolley',),
 ('Richard Philcox',),
 ('Rosalind Harvey',),
 ('Ross Benjamin',),
 ('Ruth Martin',),
 ('Sam Bett',),
 ('Sam Garrett',),
 ('Sam Taylor',),
 ('Samanta Schweblin',),
 ('Sang Young Park',),
 ('Sara Stridsberg',),
 ('Sarah Moses',),
 ('Sasha Dugdale',),
 ('Shaun Whiteside',),
 ('Sherilyn Nicolette Hellberg',),
 ('Shokoofeh Azar',),
 ('Simon Pare',),
 ('Sophie Hughes',),
 ('Sophie Lewis',),
 ('Sora Kim-Russell',),
 ('Stephen Snyder',),
 ('Susan Bernofsky',),
 ('Tiffany Tsao',),
 ('Tommy Wieringa',),
 ('Vigdis Hjorth',),
 ('Violaine Huisman',),
 ('Virginie Despentes',),
 ('Willem Anker',),
 ('Wu Ming-Yi',),
 ('Yko Ogawa',),
 ('Zou Jingzhi',),
 ('ric Vuillard',)]

In [36]:
%%sql
SELECT 'author' AS "profession", "name" FROM "authors"
UNION
SELECT 'translator' AS "profession", "name" FROM "translators";

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[('author', 'Adania Shibli'),
 ('author', 'Ahmed Saadawi'),
 ('author', 'Alia Trabucco Zern'),
 ('author', 'Amanda Svensson'),
 ('author', 'Andrey Kurkov'),
 ('author', 'Andrzej Tichy'),
 ('author', 'Annie Ernaux'),
 ('author', 'Antonio Muoz Molina'),
 ('author', 'Ariana Harwicz'),
 ('author', 'Benajamn Labatut'),
 ('author', 'Bora Chung'),
 ('author', 'Can Xue'),
 ('author', 'Cheon Myeong-Kwan'),
 ('author', 'Christoph Ransmayr'),
 ('author', 'Claudia Pieiro'),
 ('author', 'Clemens Meyer'),
 ('author', 'Daniel Kehlmann'),
 ('author', 'David Diop'),
 ('author', 'David Grossman'),
 ('author', 'Emmanuelle Pagano'),
 ('author', 'Enrique Vila-Matas'),
 ('author', 'Eva Baltasar'),
 ('author', 'Fernanda Melchor'),
 ('author', 'Gabriela Cabezn Cmara'),
 ('author', 'Gabriela Ybarra'),
 ('author', 'Gauz'),
 ('author', 'Geentanjali Shree'),
 ('author', 'Georgi Gospodinov'),
 ('author', 'Guadalupe Nettel'),
 ('author', 'Han Kang'),
 ('author', 'Hubert Mingarelli'),
 ('author', 'Hwang Sok-yong'),
 ('author', 'Jaap Robben'),
 ('author', 'Javier Cercas'),
 ('author', 'Jenny Erpenbeck'),
 ('author', 'Jokha Alharthi'),
 ('author', 'Jon Fosse'),
 ('author', 'Jonas Eika'),
 ('author', 'Juan Gabriel Vsquez'),
 ('author', 'Judith Schalansky'),
 ('author', 'Laurent Binet'),
 ('author', 'Laurent Mauvignier'),
 ('author', 'Lszl Krasznahorkai'),
 ('author', 'Maria Stepanova'),
 ('author', 'Mariana Enrquez'),
 ('author', 'Marieke Lucas Rijneveld'),
 ('author', 'Marion Poschmann'),
 ('author', 'Maryse Cond'),
 ('author', 'Mazen Maarouf'),
 ('author', 'Michel Houellebecq'),
 ('author', 'Mieko Kawakami'),
 ('author', 'Nana Ekvtimishvili'),
 ('author', "Ngg wa Thiong'o"),
 ('author', 'Nino Haratischvili'),
 ('author', 'Norman Erikson Pasaribu'),
 ('author', 'Olga Ravn'),
 ('author', 'Olga Tokarczuk'),
 ('author', 'Paulo Scott'),
 ('author', 'Perumal Murugan'),
 ('author', 'Samanta Schweblin'),
 ('author', 'Sang Young Park'),
 ('author', 'Sara Stridsberg'),
 ('author', 'Shokoofeh Azar'),
 ('author', 'Tommy Wieringa'),
 ('author', 'Vigdis Hjorth'),
 ('author', 'Violaine Huisman'),
 ('author', 'Virginie Despentes'),
 ('author', 'Willem Anker'),
 ('author', 'Wu Ming-Yi'),
 ('author', 'Yko Ogawa'),
 ('author', 'Zou Jingzhi'),
 ('author', 'ric Vuillard'),
 ('translator', 'Adrian Nathan West'),
 ('translator', 'Alison L. Strayer'),
 ('translator', 'Angela Rodel'),
 ('translator', 'Aniruddhan Vasudevan'),
 ('translator', 'Anna Moschovakis'),
 ('translator', 'Anne McLean'),
 ('translator', 'Annelise Finegan Wasmoen'),
 ('translator', 'Anton Hur'),
 ('translator', 'Antonia Lloyd-Jones'),
 ('translator', 'Camilo A. Ramirez'),
 ('translator', 'Carolina Orloff'),
 ('translator', 'Charlotte Barslund'),
 ('translator', 'Charlotte Collins'),
 ('translator', 'Chen Zeping'),
 ('translator', 'Daisy Rockwell'),
 ('translator', 'Damion Searls'),
 ('translator', 'Daniel Hahn'),
 ('translator', 'Daniel Levin Becker'),
 ('translator', 'Darryl Sterk'),
 ('translator', 'David Boyd'),
 ('translator', 'David Doherty'),
 ('translator', 'Deborah Bragan-Turner'),
 ('translator', 'Deborah Smith'),
 ('translator', 'Eileen Myles'),
 ('translator', 'Elisabeth Jaquette'),
 ('translator', 'Elizabeth Heighway'),
 ('translator', 'Fiona Mackintosh'),
 ('translator', 'Frances Riddle'),
 ('translator', 'Frank Wynne'),
 ('translator', 'George Szirtes'),
 ('translator', 'Iona Macintyre'),
 ('translator', 'Jackie Smith'),
 ('translator', 'Jae Won Chung'),
 ('translator', 'Jen Calleja'),
 ('translator', 'Jennifer Croft'),
 ('translator', 'Jennifer Higgins'),
 ('translator', 'Jeremy Tiang'),
 ('translator', 'Jessica Cohen'),
 ('translator', 'John Batki'),
 ('translator', 'Jonathan Wright'),
 ('translator', 'Karen Gernant'),
 ('translator', 'Katy Derbyshire'),
 ('translator', 'Leslie Camhi'),
 ('translator', 'Margaret Jull Costa'),
 ('translator', 'Marilyn Booth'),
 ('translator', 'Mark Polizzotti'),
 ('translator', 'Martin Aitken'),
 ('translator', 'Megan McDowell'),
 ('translator', 'Michele Hutchinson'),
 ('translator', 'Michiel Heyns'),
 ('translator', 'Natasha Wimmer'),
 ('translator', "Ngg wa Thiong'o"),
 ('translator', 'Nichola Smalley'),
 ('translator', "Nicole d'Amonville Alegra"),
 ('translator', 'Ottilie Mulzet'),
 ('translator', 'Reuben Woolley'),
 ('translator', 'Richard Philcox'),
 ('translator', 'Rosalind Harvey'),
 ('translator', 'Ross Benjamin'),
 ('translator', 'Ruth Martin'),
 ('translator', 'Sam Bett'),
 ('translator', 'Sam Garrett'),
 ('translator', 'Sam Taylor'),
 ('translator', 'Sarah Moses'),
 ('translator', 'Sasha Dugdale'),
 ('translator', 'Shaun Whiteside'),
 ('translator', 'Sherilyn Nicolette Hellberg'),
 ('translator', 'Simon Pare'),
 ('translator', 'Sophie Hughes'),
 ('translator', 'Sophie Lewis'),
 ('translator', 'Sora Kim-Russell'),
 ('translator', 'Stephen Snyder'),
 ('translator', 'Susan Bernofsky'),
 ('translator', 'Tiffany Tsao')]

### INTERSECT

In [37]:
%%sql
SELECT "name" FROM "authors"
INTERSECT
SELECT "name" FROM "translators";

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[("Ngg wa Thiong'o",)]

### EXCEPT

In [38]:
%%sql
SELECT "name" FROM "authors"
EXCEPT
SELECT "name" FROM "translators";

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[('Adania Shibli',),
 ('Ahmed Saadawi',),
 ('Alia Trabucco Zern',),
 ('Amanda Svensson',),
 ('Andrey Kurkov',),
 ('Andrzej Tichy',),
 ('Annie Ernaux',),
 ('Antonio Muoz Molina',),
 ('Ariana Harwicz',),
 ('Benajamn Labatut',),
 ('Bora Chung',),
 ('Can Xue',),
 ('Cheon Myeong-Kwan',),
 ('Christoph Ransmayr',),
 ('Claudia Pieiro',),
 ('Clemens Meyer',),
 ('Daniel Kehlmann',),
 ('David Diop',),
 ('David Grossman',),
 ('Emmanuelle Pagano',),
 ('Enrique Vila-Matas',),
 ('Eva Baltasar',),
 ('Fernanda Melchor',),
 ('Gabriela Cabezn Cmara',),
 ('Gabriela Ybarra',),
 ('Gauz',),
 ('Geentanjali Shree',),
 ('Georgi Gospodinov',),
 ('Guadalupe Nettel',),
 ('Han Kang',),
 ('Hubert Mingarelli',),
 ('Hwang Sok-yong',),
 ('Jaap Robben',),
 ('Javier Cercas',),
 ('Jenny Erpenbeck',),
 ('Jokha Alharthi',),
 ('Jon Fosse',),
 ('Jonas Eika',),
 ('Juan Gabriel Vsquez',),
 ('Judith Schalansky',),
 ('Laurent Binet',),
 ('Laurent Mauvignier',),
 ('Lszl Krasznahorkai',),
 ('Maria Stepanova',),
 ('Mariana Enrquez',),
 ('Marieke Lucas Rijneveld',),
 ('Marion Poschmann',),
 ('Maryse Cond',),
 ('Mazen Maarouf',),
 ('Michel Houellebecq',),
 ('Mieko Kawakami',),
 ('Nana Ekvtimishvili',),
 ('Nino Haratischvili',),
 ('Norman Erikson Pasaribu',),
 ('Olga Ravn',),
 ('Olga Tokarczuk',),
 ('Paulo Scott',),
 ('Perumal Murugan',),
 ('Samanta Schweblin',),
 ('Sang Young Park',),
 ('Sara Stridsberg',),
 ('Shokoofeh Azar',),
 ('Tommy Wieringa',),
 ('Vigdis Hjorth',),
 ('Violaine Huisman',),
 ('Virginie Despentes',),
 ('Willem Anker',),
 ('Wu Ming-Yi',),
 ('Yko Ogawa',),
 ('Zou Jingzhi',),
 ('ric Vuillard',)]

In [39]:
%%sql
SELECT "book_id" FROM "translated"
WHERE "translator_id" = (
    SELECT "id" FROM "translators"
    WHERE "name" = 'Sophie Hughes'
);

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[(14,), (48,), (50,), (63,)]

In [40]:
%%sql
SELECT "book_id" FROM "translated"
WHERE "translator_id" = (
    SELECT "id" FROM "translators"
    WHERE "name" = 'Sophie Hughes'
)
INTERSECT
SELECT "book_id" FROM "translated"
WHERE "translator_id" = (
    SELECT "id" FROM "translators"
    WHERE "name" = 'Margaret Jull Costa'
);

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[(50,)]

## Groups

In [41]:
%%sql
SELECT AVG(rating) FROM "ratings";

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[(3.8364408869644953,)]

In [42]:
%%sql
SELECT "book_id", AVG("rating") AS "average_rating" FROM "ratings" 
GROUP BY "book_id";

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[(1, 3.774019431450162),
 (2, 3.9714285714285715),
 (3, 3.043859649122807),
 (4, 3.5683229813664594),
 (5, 4.05919796308084),
 (6, 3.7625254582484726),
 (7, 3.6407185628742513),
 (8, 3.824196597353497),
 (9, 3.998581560283688),
 (10, 4.040706605222734),
 (11, 4.140578004446188),
 (12, 3.613133476088508),
 (13, 3.775),
 (14, 3.7116783820446417),
 (15, 3.839493458442995),
 (16, 3.6850271528316525),
 (17, 3.801605504587156),
 (18, 4.093765221626888),
 (19, 3.7856315179606024),
 (20, 4.042645074224022),
 (21, 3.839094159713945),
 (22, 4.501043841336117),
 (23, 3.2482185273159145),
 (24, 3.8003291278113),
 (25, 4.05420197740113),
 (26, 3.887239764916824),
 (27, 3.3654580152671754),
 (28, 4.136811319943228),
 (29, 3.457792207792208),
 (30, 3.36418359668924),
 (31, 3.8370119787045254),
 (32, 3.294736842105263),
 (33, 3.8603603603603602),
 (34, 3.9782168186423505),
 (35, 3.7161147902869756),
 (36, 3.8501251937522354),
 (37, 3.718091613429387),
 (38, 3.691736304549675),
 (39, 3.7228033472803346),
 (40, 3.8558030480656504),
 (41, 3.466385939216404),
 (42, 4.511253822629969),
 (43, 3.795075456711676),
 (44, 3.7432070417145042),
 (45, 4.191164658634539),
 (46, 3.9462127502537134),
 (47, 3.563063063063063),
 (48, 4.077114096935834),
 (49, 3.6069128902927954),
 (50, 3.4818481848184817),
 (51, 3.4242424242424243),
 (52, 3.5786516853932584),
 (53, 3.6932952924393723),
 (54, 3.4168490153172866),
 (55, 3.9620521782548996),
 (56, 3.8202247191011236),
 (57, 3.4135188866799204),
 (58, 3.1766917293233083),
 (59, 3.7501891074130107),
 (60, 3.365319045299562),
 (61, 3.918668496911462),
 (62, 3.1582278481012658),
 (63, 3.516798418972332),
 (64, 3.9452554744525545),
 (65, 4.175450023685457),
 (66, 3.568631436314363),
 (67, 3.9609617373319543),
 (68, 3.5675675675675675),
 (69, 3.758247605533877),
 (70, 3.414333706606943),
 (71, 4.108359133126935),
 (72, 3.6493688639551194),
 (73, 3.8820722563053853),
 (74, 3.831411898662112),
 (75, 3.7694300518134716),
 (76, 3.8937142857142857),
 (77, 3.539741624698927),
 (78, 3.7558485438319438)]

### HAVING

In [43]:
%%sql
SELECT "book_id", ROUND(AVG("rating"), 2) AS "average_rating"
FROM "ratings"
GROUP BY "book_id"
HAVING "average_rating" >= 4.0;

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[(5, 4.06),
 (9, 4.0),
 (10, 4.04),
 (11, 4.14),
 (18, 4.09),
 (20, 4.04),
 (22, 4.5),
 (25, 4.05),
 (28, 4.14),
 (42, 4.51),
 (45, 4.19),
 (48, 4.08),
 (65, 4.18),
 (71, 4.11)]

In [44]:
%%sql
SELECT "book_id", COUNT("rating") AS "num_ratings" FROM "ratings" 
GROUP BY "book_id";

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[(1, 2779),
 (2, 175),
 (3, 114),
 (4, 322),
 (5, 3142),
 (6, 2455),
 (7, 167),
 (8, 529),
 (9, 705),
 (10, 1302),
 (11, 7647),
 (12, 1401),
 (13, 40),
 (14, 8109),
 (15, 26217),
 (16, 5156),
 (17, 872),
 (18, 8212),
 (19, 1726),
 (20, 3705),
 (21, 839),
 (22, 479),
 (23, 1684),
 (24, 1823),
 (25, 5664),
 (26, 10039),
 (27, 2096),
 (28, 23251),
 (29, 308),
 (30, 1329),
 (31, 18032),
 (32, 95),
 (33, 1554),
 (34, 3948),
 (35, 2265),
 (36, 25161),
 (37, 7357),
 (38, 1077),
 (39, 956),
 (40, 3412),
 (41, 27310),
 (42, 16350),
 (43, 3777),
 (44, 67938),
 (45, 1245),
 (46, 10839),
 (47, 222),
 (48, 22551),
 (49, 16462),
 (50, 606),
 (51, 198),
 (52, 23852),
 (53, 1402),
 (54, 13710),
 (55, 80110),
 (56, 623),
 (57, 503),
 (58, 266),
 (59, 10576),
 (60, 2053),
 (61, 2914),
 (62, 1738),
 (63, 1012),
 (64, 2466),
 (65, 16888),
 (66, 14760),
 (67, 7736),
 (68, 592),
 (69, 5638),
 (70, 893),
 (71, 323),
 (72, 2139),
 (73, 1467),
 (74, 14052),
 (75, 772),
 (76, 12250),
 (77, 4567),
 (78, 27229)]

In [45]:
%%sql
SELECT "book_id", ROUND(AVG("rating"), 2) AS "average_rating"
FROM "ratings"
GROUP BY "book_id"
HAVING "average_rating" >= 4.0
ORDER BY "average_rating" DESC;

 * sqlite:///longlist.db?check_same_thread=false
   sqlite:///sea_lions.db?check_same_thread=false

[(42, 4.51),
 (22, 4.5),
 (45, 4.19),
 (65, 4.18),
 (28, 4.14),
 (11, 4.14),
 (71, 4.11),
 (18, 4.09),
 (48, 4.08),
 (5, 4.06),
 (25, 4.05),
 (20, 4.04),
 (10, 4.04),
 (9, 4.0)]