In [2]:
import sqlite3

In [3]:
db = "../databases/moneyball.db"

In [4]:
%load_ext sql
%config SqlMagic.feedback=False
%sql sqlite:///{db}?check_same_thread=false
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[('players',), ('teams',), ('salaries',), ('performances',)]

In [5]:
%sql select * from players limit 2;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[(2, 'Hank', 'Aaron', 'R', 'R', 180, 72, '1954-04-13', '1976-10-03', 1934, 2, 5, 'Mobile', 'AL', 'USA'),
 (3, 'Tommie', 'Aaron', 'R', 'R', 190, 75, '1962-04-10', '1971-09-26', 1939, 8, 5, 'Mobile', 'AL', 'USA')]

In [6]:
%sql select * from teams limit 2;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[(1, 1884, 'Altoona Mountain City', None),
 (2, 2001, 'Anaheim Angels', 'Edison International Field')]

In [7]:
%sql select * from salaries limit 2;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[(1, 863, 4, 1985, 870000), (2, 1171, 4, 1985, 550000)]

In [8]:
%sql select * from performances limit 2;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[(1, 23, 134, 1871, 1, 4, 0, 0, 0, 0, 0, 0),
 (2, 115, 112, 1871, 25, 118, 32, 6, 0, 0, 13, 8)]

## 01 
You should start by getting a sense for how average player salaries have changed over time. In `1.sql`, write a SQL query to find the average player salary by year.

- Sort by year in descending order.
- Round the salary to two decimal places and call the column “average salary”.
- Your query should return a table with two columns, one for year and one for average salary.

In [9]:
%%sql
SELECT "year", ROUND(AVG("salary"),2) AS "average salary"
FROM "salaries"
GROUP BY "year"
ORDER BY "year" DESC;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[(2001, 2279841.06),
 (2000, 1992984.57),
 (1999, 1485316.85),
 (1998, 1280844.56),
 (1997, 1218687.44),
 (1996, 1027909.29),
 (1995, 964979.07),
 (1994, 1049588.56),
 (1993, 976966.56),
 (1992, 1047520.58),
 (1991, 894961.19),
 (1990, 511973.69),
 (1989, 506323.08),
 (1988, 453171.08),
 (1987, 434729.47),
 (1986, 417147.04),
 (1985, 476299.45)]

## 02 
Your general manager (i.e., the person who makes decisions about player contracts) asks you whether the team should trade a current player for Cal Ripken Jr., a star player who’s likely nearing his retirement. In `2.sql`, write a SQL query to find Cal Ripken Jr.’s salary history.

- Sort by year in descending order.
- Your query should return a table with two columns, one for year and one for salary.

In [10]:
%%sql
SELECT "year", "salary"
FROM "salaries"
WHERE "player_id" = (
    SELECT "id" FROM "players"
    WHERE "first_name" = 'Cal'
    AND "last_name" = 'Ripken'
)
ORDER BY "year" DESC;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[(2001, 6300000),
 (2000, 6300000),
 (1999, 6500000),
 (1998, 6400000),
 (1997, 6850000),
 (1996, 6650000),
 (1995, 6700000),
 (1994, 5500000),
 (1993, 5200000),
 (1992, 2100000),
 (1991, 2566667),
 (1990, 1316667),
 (1989, 2466667),
 (1988, 1700000),
 (1987, 1350000),
 (1986, 1150000),
 (1985, 800000)]

## 03 
Your team is going to need a great home run hitter. Ken Griffey Jr., a long-time Silver Slugger and Gold Glove award winner, might be a good prospect. In `3.sql`, write a SQL query to find Ken Griffey Jr.’s home run history.

- Sort by year in descending order.
- Note that there may be two players with the name “Ken Griffey.” This Ken Griffey was born in 1969.
- Your query should return a table with two columns, one for year and one for home runs.

In [11]:
%%sql
SELECT "year","HR" FROM "performances"
WHERE "player_id" = (
    SELECT "id" FROM "players"
    WHERE "first_name" = 'Ken'
    AND "last_name" = 'Griffey'
    AND "birth_year" = 1969
)
ORDER BY "year" DESC;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[(2001, 22),
 (2000, 40),
 (1999, 48),
 (1998, 56),
 (1997, 56),
 (1996, 49),
 (1995, 17),
 (1994, 40),
 (1993, 45),
 (1992, 27),
 (1991, 22),
 (1990, 22),
 (1989, 16)]

## 04 
You need to make a recommendation about which players the team should consider hiring. With the team’s dwindling budget, the general manager wants to know which players were paid the lowest salaries in 2001. In 4.sql, write a SQL query to find the 50 players paid the least in 2001.

- Sort players by salary, lowest to highest.
- If two players have the same salary, sort alphabetically by first name and then by last name.
- If two players have the same first and last name, sort by player ID.
- Your query should return three columns, one for players’ first names, one for their last names, and one for their salaries.

In [12]:
%%sql
SELECT
    "players"."first_name",
    "players"."last_name",
    "salaries"."salary"
FROM "players"
JOIN "salaries" ON "players"."id" = "salaries"."player_id"
WHERE "salaries"."year" = 2001
ORDER BY
    "salaries"."salary" ASC,
    "players"."first_name" ASC,
    "players"."last_name" ASC,
    "players"."id" ASC
LIMIT 50;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[('Albert', 'Pujols', 200000),
 ('Andy', 'Thompson', 200000),
 ('Ben', 'Sheets', 200000),
 ('Brad', 'Voyles', 200000),
 ('Brandon', 'Inge', 200000),
 ('Chris', 'Michalak', 200000),
 ('Chris', 'Reitsma', 200000),
 ('Chris', 'Seelbach', 200000),
 ('Christian', 'Parker', 200000),
 ('Courtney', 'Duncan', 200000),
 ("D'Angelo", 'Jimenez', 200000),
 ('Damian', 'Rolls', 200000),
 ('Damon', 'Minor', 200000),
 ('David', 'Eckstein', 200000),
 ('Donaldo', 'Mendez', 200000),
 ('Eddie', 'Oropesa', 200000),
 ('Gary', 'Glover', 200000),
 ('Hiram', 'Bocachica', 200000),
 ('Jack', 'Wilson', 200000),
 ('Jason', 'Grilli', 200000),
 ('Jay', 'Gibbons', 200000),
 ('Jermaine', 'Clark', 200000),
 ('Jimmy', 'Rollins', 200000),
 ('Joe', 'Beimel', 200000),
 ('John', 'Barnes', 200000),
 ('Jose', 'Nunez', 200000),
 ('Julio', 'Ramirez', 200000),
 ('Julio', 'Zuleta', 200000),
 ('Luis', 'Rivas', 200000),
 ('Luke', 'Prokopec', 200000),
 ('Luther', 'Hackman', 200000),
 ('Nate', 'Rolison', 200000),
 ('Nick', 'Bierbrodt', 200000),
 ('Paxton', 'Crawford', 200000),
 ('Randy', 'Choate', 200000),
 ('Ryan', 'Freel', 200000),
 ('Scott', 'Mullen', 200000),
 ('Scott', 'Seabol', 200000),
 ('Scott', 'Sobkowiak', 200000),
 ('Scott', 'Stewart', 200000),
 ('Shea', 'Hillenbrand', 200000),
 ('Tony', 'Cogan', 200000),
 ('Wally', 'Joyner', 200000),
 ('Willis', 'Roberts', 200000),
 ('Shawn', 'Wooten', 200500),
 ('Jose', 'Ortiz', 201000),
 ('Pedro', 'Feliz', 201000),
 ('Pablo', 'Ozuna', 202000),
 ('Scott', 'Winchester', 202000),
 ('Tim', 'Drew', 202000)]

## 05 
It’s a bit of a slow day in the office. Though Satchel no longer plays, in `5.sql` , write a SQL query to find all teams that Satchel Paige played for.

- Your query should return a table with a single column, one for the name of the teams.

In [13]:
%%sql
SELECT "name" FROM "teams"
WHERE "id" IN (
    SELECT "team_id" FROM "performances"
    WHERE "player_id" = (
        SELECT "id" FROM "players"
        WHERE "first_name" = 'Satchel'
        AND "last_name" = 'Paige'
    )
);

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[('Cleveland Indians',), ('Kansas City Athletics',), ('St. Louis Browns',)]

## 06 
Which teams might be the biggest competition for the A’s this year? In `6.sql` , write a SQL query to return the top 5 teams, sorted by the total number of hits by players in 2001.

- Call the column representing total hits by players in 2001 “total hits”.
- Sort by total hits, highest to lowest.
- Your query should return two columns, one for the teams’ names and one for their total hits in 2001.

In [38]:
%%sql
SELECT
    "teams"."name",
    SUM("performances"."H") AS "total hits"
FROM "teams"
JOIN "performances" ON "teams"."id" = "performances"."team_id"
WHERE "performances"."year" = 2001
GROUP BY "teams"."id", "teams"."name"
ORDER BY "total hits" DESC
LIMIT 5;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[('Colorado Rockies', 1663),
 ('Seattle Mariners', 1637),
 ('Texas Rangers', 1566),
 ('Cleveland Indians', 1559),
 ('Minnesota Twins', 1514)]

## 07
You need to make a recommendation about which player (or players) to avoid recruiting. In `7.sql` , write a SQL query to find the name of the player who’s been paid the highest salary, of all time, in Major League Baseball.

- Your query should return a table with two columns, one for the player’s first name and one for their last name.

In [15]:
%%sql
SELECT "first_name", "last_name"
FROM "players"
WHERE "id" = (
    SELECT "player_id" FROM "salaries"
    WHERE "salary" = (
        SELECT MAX("salary") FROM "salaries"
    )
);

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[('Alex', 'Rodriguez')]

## 08 
How much would the A’s need to pay to get the best home run hitter this past season? In `8.sql` , write a SQL query to find the 2001 salary of the player who hit the most home runs in 2001.

- Your query should return a table with one column, the salary of the player.

In [18]:
%%sql
SELECT "salary" FROM "salaries"
WHERE "year" = 2001
AND "player_id" = (
    SELECT "player_id" FROM "performances"
    WHERE "HR" = (
        SELECT MAX("HR") FROM "performances"
    )
);

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[(10300000,)]

## 09 
What salaries are other teams paying? In `9.sql` , write a SQL query to find the 5 lowest paying teams (by average salary) in 2001.

- Round the average salary column to two decimal places and call it “average salary”.
- Sort the teams by average salary, least to greatest.
- Your query should return a table with two columns, one for the teams’ names and one for their average salary.

In [27]:
%%sql
SELECT
    "teams"."name",
    ROUND(AVG("salaries"."salary"), 2) AS "average salary"
FROM "teams"
JOIN "salaries" ON "teams"."id" = "salaries"."team_id"
WHERE "salaries"."year" = 2001
GROUP BY "teams"."id", "teams"."name"
ORDER BY "average salary" ASC
LIMIT 5;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[('Minnesota Twins', 893703.7),
 ('Montreal Expos', 1134177.42),
 ('Florida Marlins', 1153629.03),
 ('Oakland Athletics', 1252250.0),
 ('Kansas City Royals', 1265089.29)]

## 10 
The general manager has asked you for a report which details each player’s name, their salary for each year they’ve been playing, and their number of home runs for each year they’ve been playing. To be precise, the table should include:

- All player’s first names
- All player’s last names
- All player’s salaries
- All player’s home runs
- The year in which the player was paid that salary and hit those home runs

In `10.sql` , write a query to return just such a table.

- Your query should return a table with five columns, per the above.
- Order the results, first and foremost, by player’s IDs (least to greatest).
- Order rows about the same player by year, in descending order.
- Consider a corner case: suppose a player has multiple salaries or performances for a given year. Order them first by number of home runs, in descending order, followed by salary, in descending order.
- Be careful to ensure that, for a single row, the salary’s year and the performance’s year match.

Example table
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>+------------+-----------+--------+------+----+
| first_name | last_name | salary | year | HR |
+------------+-----------+--------+------+----+
| Don        | Aase      | 400000 | 1989 | 0  |
| Don        | Aase      | 675000 | 1988 | 0  |
| Don        | Aase      | 625000 | 1987 | 0  |
| Don        | Aase      | 600000 | 1986 | 0  |
| Jeff       | Abbott    | 300000 | 2001 | 0  |
| Jeff       | Abbott    | 255000 | 2000 | 3  |
| Jeff       | Abbott    | 255000 | 1999 | 2  |
+------------+-----------+--------+------+----+
</code></pre></div></div>

<p>If all goes well, you might also see two rows like this in your final table:</p>

<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>+-------------+---------------+----------+----+------+
| first_name  | last_name     | salary   | HR | year |
+-------------+---------------+----------+----+------+
| Todd        | Zeile         | 3700000  | 9  | 1995 |
| Todd        | Zeile         | 3700000  | 5  | 1995 |
+-------------+---------------+----------+----+------+
</code></pre></div></div>

<p>As an aside, based on the schema of the database, why do you think Todd Zeile appears to have two different salaries (and two different HR counts) for the same year?</p>

In [39]:
%%sql
SELECT
    "players"."first_name",
    "players"."last_name",
    "salaries"."salary",
    "performances"."HR",
    "salaries"."year" AS "year"
FROM "players"
JOIN "salaries" ON "players"."id" = "salaries"."player_id"
JOIN "performances" ON "players"."id" = "performances"."player_id"
                   AND "salaries"."year" = "performances"."year"
ORDER BY
    "players"."id" ASC,
    "salaries"."year" DESC,
    "performances"."HR" DESC,
    "salaries"."salary" DESC;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[('Don', 'Aase', 400000, 0, 1989),
 ('Don', 'Aase', 675000, 0, 1988),
 ('Don', 'Aase', 625000, 0, 1987),
 ('Don', 'Aase', 600000, 0, 1986),
 ('Jeff', 'Abbott', 300000, 0, 2001),
 ('Jeff', 'Abbott', 255000, 3, 2000),
 ('Jeff', 'Abbott', 255000, 2, 1999),
 ('Jeff', 'Abbott', 175000, 12, 1998),
 ('Jim', 'Abbott', 400000, 0, 1999),
 ('Jim', 'Abbott', 2200000, 0, 1996),
 ('Jim', 'Abbott', 2775000, 0, 1995),
 ('Jim', 'Abbott', 2775000, 0, 1995),
 ('Jim', 'Abbott', 2775000, 0, 1994),
 ('Jim', 'Abbott', 2350000, 0, 1993),
 ('Jim', 'Abbott', 1850000, 0, 1992),
 ('Jim', 'Abbott', 357500, 0, 1991),
 ('Jim', 'Abbott', 185000, 0, 1990),
 ('Jim', 'Abbott', 68000, 0, 1989),
 ('Kurt', 'Abbott', 600000, 0, 2001),
 ('Kurt', 'Abbott', 500000, 6, 2000),
 ('Kurt', 'Abbott', 900000, 8, 1999),
 ('Kurt', 'Abbott', 1000000, 3, 1998),
 ('Kurt', 'Abbott', 1000000, 2, 1998),
 ('Kurt', 'Abbott', 650000, 6, 1997),
 ('Kurt', 'Abbott', 250000, 8, 1996),
 ('Kurt', 'Abbott', 119000, 17, 1995),
 ('Kurt', 'Abbott', 109000, 9, 1994),
 ('Kurt', 'Abbott', 109000, 3, 1993),
 ('Kyle', 'Abbott', 150000, 0, 1995),
 ('Kyle', 'Abbott', 109000, 0, 1992),
 ('Paul', 'Abbott', 1700000, 0, 2001),
 ('Paul', 'Abbott', 285000, 0, 2000),
 ('Paul', 'Abbott', 235000, 0, 1999),
 ('Paul', 'Abbott', 126000, 0, 1992),
 ('Paul', 'Abbott', 100000, 0, 1990),
 ('Shawn', 'Abner', 297500, 1, 1992),
 ('Shawn', 'Abner', 180000, 2, 1991),
 ('Shawn', 'Abner', 180000, 1, 1991),
 ('Shawn', 'Abner', 105000, 1, 1990),
 ('Shawn', 'Abner', 77500, 2, 1989),
 ('Shawn', 'Abner', 63500, 2, 1988),
 ('Bobby', 'Abreu', 4983000, 31, 2001),
 ('Bobby', 'Abreu', 2933333, 25, 2000),
 ('Bobby', 'Abreu', 400000, 20, 1999),
 ('Bobby', 'Abreu', 180000, 17, 1998),
 ('Bobby', 'Abreu', 150000, 3, 1997),
 ('Juan', 'Acevedo', 612500, 0, 2000),
 ('Juan', 'Acevedo', 475000, 0, 1999),
 ('Juan', 'Acevedo', 200000, 0, 1998),
 ('Juan', 'Acevedo', 109000, 0, 1995),
 ('Jim', 'Acker', 275000, 0, 1992),
 ('Jim', 'Acker', 700000, 0, 1990),
 ('Jim', 'Acker', 688000, 0, 1989),
 ('Jim', 'Acker', 688000, 0, 1989),
 ('Jim', 'Acker', 435000, 0, 1988),
 ('Jim', 'Acker', 350000, 0, 1987),
 ('Jim', 'Acker', 367500, 0, 1986),
 ('Jim', 'Acker', 367500, 0, 1986),
 ('Jim', 'Acker', 170000, 0, 1985),
 ('Mark', 'Acre', 165000, 0, 1997),
 ('Mark', 'Acre', 140000, 0, 1996),
 ('Mark', 'Acre', 120000, 0, 1995),
 ('Mark', 'Acre', 109000, 0, 1994),
 ('Joel', 'Adamson', 210000, 0, 1998),
 ('Joel', 'Adamson', 151000, 0, 1997),
 ('Terry', 'Adams', 2600000, 0, 2001),
 ('Terry', 'Adams', 1400000, 0, 2000),
 ('Terry', 'Adams', 736000, 0, 1999),
 ('Terry', 'Adams', 295000, 0, 1998),
 ('Terry', 'Adams', 215000, 0, 1997),
 ('Terry', 'Adams', 113000, 0, 1996),
 ('Terry', 'Adams', 109000, 0, 1995),
 ('Willie', 'Adams', 157500, 0, 1997),
 ('Willie', 'Adams', 109000, 0, 1996),
 ('Troy', 'Afenir', 130000, 0, 1992),
 ('Troy', 'Afenir', 100000, 0, 1990),
 ('Benny', 'Agbayani', 260000, 6, 2001),
 ('Benny', 'Agbayani', 220000, 15, 2000),
 ('Benny', 'Agbayani', 200000, 14, 1999),
 ('Juan', 'Agosto', 1666667, 0, 1992),
 ('Juan', 'Agosto', 1666667, 0, 1992),
 ('Juan', 'Agosto', 1166667, 0, 1991),
 ('Juan', 'Agosto', 850000, 0, 1990),
 ('Juan', 'Agosto', 610000, 0, 1989),
 ('Juan', 'Agosto', 157500, 0, 1988),
 ('Juan', 'Agosto', 100000, 0, 1987),
 ('Juan', 'Agosto', 147500, 0, 1985),
 ('Luis', 'Aguayo', 275000, 1, 1989),
 ('Luis', 'Aguayo', 375000, 3, 1988),
 ('Luis', 'Aguayo', 375000, 3, 1988),
 ('Luis', 'Aguayo', 325000, 12, 1987),
 ('Luis', 'Aguayo', 275000, 4, 1986),
 ('Luis', 'Aguayo', 237000, 6, 1985),
 ('Rick', 'Aguilera', 3500000, 0, 2000),
 ('Rick', 'Aguilera', 4300000, 0, 1999),
 ('Rick', 'Aguilera', 4300000, 0, 1999),
 ('Rick', 'Aguilera', 2750000, 0, 1998),
 ('Rick', 'Aguilera', 3075000, 0, 1997),
 ('Rick', 'Aguilera', 3500000, 0, 1996),
 ('Rick', 'Aguilera', 4350000, 0, 1995),
 ('Rick', 'Aguilera', 4350000, 0, 1995),
 ('Rick', 'Aguilera', 3260000, 0, 1994),
 ('Rick', 'Aguilera', 2433333, 0, 1993),
 ('Rick', 'Aguilera', 2308333, 0, 1992),
 ('Rick', 'Aguilera', 1533333, 0, 1991),
 ('Rick', 'Aguilera', 648000, 0, 1990),
 ('Rick', 'Aguilera', 310000, 0, 1989),
 ('Rick', 'Aguilera', 310000, 0, 1989),
 ('Rick', 'Aguilera', 295000, 0, 1988),
 ('Rick', 'Aguilera', 195000, 1, 1987),
 ('Rick', 'Aguilera', 130000, 2, 1986),
 ('Darrel', 'Akerfelds', 165000, 0, 1991),
 ('Darrel', 'Akerfelds', 102500, 0, 1990),
 ('Darrel', 'Akerfelds', 62500, 0, 1987),
 ('Jose', 'Alberro', 109000, 0, 1995),
 ('Mike', 'Aldrete', 250000, 3, 1996),
 ('Mike', 'Aldrete', 250000, 3, 1996),
 ('Mike', 'Aldrete', 430000, 4, 1995),
 ('Mike', 'Aldrete', 430000, 0, 1995),
 ('Mike', 'Aldrete', 430000, 4, 1994),
 ('Mike', 'Aldrete', 200000, 10, 1993),
 ('Mike', 'Aldrete', 510000, 1, 1991),
 ('Mike', 'Aldrete', 510000, 0, 1991),
 ('Mike', 'Aldrete', 297500, 1, 1990),
 ('Mike', 'Aldrete', 202500, 1, 1989),
 ('Mike', 'Aldrete', 160000, 3, 1988),
 ('Mike', 'Aldrete', 75000, 9, 1987),
 ('Mike', 'Aldrete', 60000, 2, 1986),
 ('Scott', 'Aldred', 600000, 0, 2000),
 ('Scott', 'Aldred', 545000, 0, 1999),
 ('Scott', 'Aldred', 545000, 0, 1999),
 ('Scott', 'Aldred', 275000, 0, 1998),
 ('Scott', 'Aldred', 225000, 0, 1997),
 ('Scott', 'Aldred', 150000, 0, 1996),
 ('Scott', 'Aldred', 150000, 0, 1996),
 ('Scott', 'Aldred', 140000, 0, 1993),
 ('Scott', 'Aldred', 140000, 0, 1993),
 ('Scott', 'Aldred', 130000, 0, 1992),
 ('Scott', 'Aldred', 100000, 0, 1990),
 ('Jay', 'Aldrich', 62500, 0, 1987),
 ('Doyle', 'Alexander', 1000000, 0, 1989),
 ('Doyle', 'Alexander', 500000, 0, 1988),
 ('Doyle', 'Alexander', 650000, 0, 1987),
 ('Doyle', 'Alexander', 650000, 0, 1987),
 ('Doyle', 'Alexander', 700000, 0, 1986),
 ('Doyle', 'Alexander', 700000, 0, 1986),
 ('Doyle', 'Alexander', 875000, 0, 1985),
 ('Manny', 'Alexander', 612500, 4, 2000),
 ('Manny', 'Alexander', 475000, 0, 1999),
 ('Manny', 'Alexander', 425000, 5, 1998),
 ('Manny', 'Alexander', 205000, 2, 1997),
 ('Manny', 'Alexander', 205000, 1, 1997),
 ('Manny', 'Alexander', 190000, 0, 1996),
 ('Manny', 'Alexander', 130000, 3, 1995),
 ('Manny', 'Alexander', 109000, 0, 1993),
 ('Manny', 'Alexander', 109000, 0, 1992),
 ('Antonio', 'Alfonseca', 2450000, 0, 2001),
 ('Antonio', 'Alfonseca', 380000, 0, 2000),
 ('Antonio', 'Alfonseca', 250000, 0, 1999),
 ('Antonio', 'Alfonseca', 175000, 0, 1998),
 ('Antonio', 'Alfonseca', 150000, 0, 1997),
 ('Edgardo', 'Alfonzo', 5750000, 17, 2001),
 ('Edgardo', 'Alfonzo', 4225000, 25, 2000),
 ('Edgardo', 'Alfonzo', 2800000, 27, 1999),
 ('Edgardo', 'Alfonzo', 1750000, 17, 1998),
 ('Edgardo', 'Alfonzo', 215000, 10, 1997),
 ('Edgardo', 'Alfonzo', 180000, 4, 1996),
 ('Edgardo', 'Alfonzo', 109000, 4, 1995),
 ('Luis', 'Alicea', 800000, 4, 2001),
 ('Luis', 'Alicea', 750000, 6, 2000),
 ('Luis', 'Alicea', 825000, 3, 1999),
 ('Luis', 'Alicea', 750000, 6, 1998),
 ('Luis', 'Alicea', 650000, 5, 1997),
 ('Luis', 'Alicea', 750000, 5, 1996),
 ('Luis', 'Alicea', 800000, 6, 1995),
 ('Luis', 'Alicea', 650000, 5, 1994),
 ('Luis', 'Alicea', 160000, 3, 1993),
 ('Andy', 'Allanson', 150000, 3, 1995),
 ('Andy', 'Allanson', 120000, 0, 1993),
 ('Andy', 'Allanson', 100000, 1, 1991),
 ('Andy', 'Allanson', 235000, 3, 1989),
 ('Andy', 'Allanson', 102500, 5, 1988),
 ('Andy', 'Allanson', 75000, 3, 1987),
 ('Andy', 'Allanson', 60000, 1, 1986),
 ('Chad', 'Allen', 240000, 4, 2001),
 ('Chad', 'Allen', 200000, 10, 1999),
 ('Jermaine', 'Allensworth', 284000, 3, 1999),
 ('Jermaine', 'Allensworth', 260000, 3, 1998),
 ('Jermaine', 'Allensworth', 260000, 2, 1998),
 ('Jermaine', 'Allensworth', 260000, 0, 1998),
 ('Jermaine', 'Allensworth', 160000, 3, 1997),
 ('Jermaine', 'Allensworth', 109000, 4, 1996),
 ('Neil', 'Allen', 325000, 0, 1989),
 ('Neil', 'Allen', 250000, 0, 1988),
 ('Neil', 'Allen', 1250000, 0, 1987),
 ('Neil', 'Allen', 1250000, 0, 1987),
 ('Neil', 'Allen', 900000, 0, 1986),
 ('Neil', 'Allen', 750000, 0, 1985),
 ('Neil', 'Allen', 750000, 0, 1985),
 ('Beau', 'Allred', 102500, 3, 1991),
 ('Beau', 'Allred', 100000, 1, 1990),
 ('Armando', 'Almanza', 225000, 0, 2001),
 ('Armando', 'Almanza', 203000, 0, 2000),
 ('Armando', 'Almanza', 200000, 0, 1999),
 ('Carlos', 'Almanzar', 270000, 0, 2001),
 ('Carlos', 'Almanzar', 215000, 0, 2000),
 ('Carlos', 'Almanzar', 172500, 0, 1998),
 ('Bill', 'Almon', 250000, 0, 1988),
 ('Bill', 'Almon', 250000, 0, 1987),
 ('Bill', 'Almon', 250000, 0, 1987),
 ('Bill', 'Almon', 260000, 7, 1986),
 ('Bill', 'Almon', 255000, 6, 1985),
 ('Roberto', 'Alomar', 7750000, 20, 2001),
 ('Roberto', 'Alomar', 7196656, 19, 2000),
 ('Roberto', 'Alomar', 7049966, 24, 1999),
 ('Roberto', 'Alomar', 6343771, 14, 1998),
 ('Roberto', 'Alomar', 6354379, 14, 1997),
 ('Roberto', 'Alomar', 4279379, 22, 1996),
 ('Roberto', 'Alomar', 5500000, 13, 1995),
 ('Roberto', 'Alomar', 5433334, 8, 1994),
 ('Roberto', 'Alomar', 4933333, 17, 1993),
 ('Roberto', 'Alomar', 2983333, 8, 1992),
 ('Roberto', 'Alomar', 1300000, 9, 1991),
 ('Roberto', 'Alomar', 390000, 6, 1990),
 ('Roberto', 'Alomar', 150000, 7, 1989),
 ('Sandy', 'Alomar', 2900000, 4, 2001),
 ('Sandy', 'Alomar', 2700000, 7, 2000),
 ('Sandy', 'Alomar', 2800000, 6, 1999),
 ('Sandy', 'Alomar', 2725000, 6, 1998),
 ('Sandy', 'Alomar', 2600000, 21, 1997),
 ('Sandy', 'Alomar', 2575000, 11, 1996),
 ('Sandy', 'Alomar', 2550000, 10, 1995),
 ('Sandy', 'Alomar', 2200000, 14, 1994),
 ('Sandy', 'Alomar', 1300000, 6, 1993),
 ('Sandy', 'Alomar', 525000, 2, 1992),
 ('Sandy', 'Alomar', 360000, 0, 1991),
 ('Sandy', 'Alomar', 115000, 9, 1990),
 ('Moises', 'Alou', 5250000, 27, 2001),
 ('Moises', 'Alou', 5250000, 30, 2000),
 ('Moises', 'Alou', 5020000, 38, 1998),
 ('Moises', 'Alou', 4500000, 23, 1997),
 ('Moises', 'Alou', 3050000, 21, 1996),
 ('Moises', 'Alou', 3000000, 14, 1995),
 ('Moises', 'Alou', 1415000, 22, 1994),
 ('Moises', 'Alou', 210000, 18, 1993),
 ('Moises', 'Alou', 110500, 9, 1992),
 ('Moises', 'Alou', 100000, 0, 1990),
 ('Moises', 'Alou', 100000, 0, 1990),
 ('Gabe', 'Alvarez', 170000, 5, 1998),
 ('Jose', 'Alvarez', 125000, 0, 1989),
 ('Tavo', 'Alvarez', 109000, 0, 1996),
 ('Wilson', 'Alvarez', 4500000, 0, 1999),
 ('Wilson', 'Alvarez', 4500000, 0, 1998),
 ('Wilson', 'Alvarez', 4662500, 0, 1997),
 ('Wilson', 'Alvarez', 4662500, 0, 1997),
 ('Wilson', 'Alvarez', 2825000, 0, 1996),
 ('Wilson', 'Alvarez', 2250000, 0, 1995),
 ('Wilson', 'Alvarez', 285000, 0, 1994),
 ('Wilson', 'Alvarez', 180000, 0, 1993),
 ('Wilson', 'Alvarez', 130000, 0, 1992),
 ('Wilson', 'Alvarez', 100000, 0, 1991),
 ('Rich', 'Amaral', 500000, 0, 2000),
 ('Rich', 'Amaral', 500000, 0, 1999),
 ('Rich', 'Amaral', 550000, 1, 1998),
 ('Rich', 'Amaral', 550000, 1, 1997),
 ('Rich', 'Amaral', 450000, 1, 1996),
 ('Rich', 'Amaral', 250000, 2, 1995),
 ('Rich', 'Amaral', 232500, 4, 1994),
 ('Rich', 'Amaral', 137500, 1, 1993),
 ('Ruben', 'Amaro', 265000, 1, 1998),
 ('Ruben', 'Amaro', 275000, 2, 1997),
 ('Ruben', 'Amaro', 109000, 2, 1996),
 ('Ruben', 'Amaro', 175000, 1, 1995),
 ('Ruben', 'Amaro', 163000, 2, 1994),
 ('Ruben', 'Amaro', 150000, 1, 1993),
 ('Ruben', 'Amaro', 109000, 7, 1992),
 ('Allan', 'Anderson', 785000, 0, 1991),
 ('Allan', 'Anderson', 300000, 0, 1990),
 ('Allan', 'Anderson', 200000, 0, 1989),
 ('Brady', 'Anderson', 7200000, 8, 2001),
 ('Brady', 'Anderson', 7127199, 19, 2000),
 ('Brady', 'Anderson', 5674897, 24, 1999),
 ('Brady', 'Anderson', 5441843, 18, 1998),
 ('Brady', 'Anderson', 4050000, 18, 1997),
 ('Brady', 'Anderson', 3613333, 50, 1996),
 ('Brady', 'Anderson', 3333333, 16, 1995),
 ('Brady', 'Anderson', 3083333, 12, 1994),
 ('Brady', 'Anderson', 1855000, 13, 1993),
 ('Brady', 'Anderson', 365000, 21, 1992),
 ('Brady', 'Anderson', 165000, 2, 1991),
 ('Brady', 'Anderson', 120000, 3, 1990),
 ('Brady', 'Anderson', 62500, 1, 1988),
 ('Brady', 'Anderson', 62500, 0, 1988),
 ('Brian', 'Anderson', 4125000, 0, 2001),
 ('Brian', 'Anderson', 2250000, 0, 2000),
 ('Brian', 'Anderson', 1800000, 1, 1999),
 ('Brian', 'Anderson', 775000, 0, 1998),
 ('Brian', 'Anderson', 135000, 0, 1995),
 ('Brian', 'Anderson', 120000, 0, 1994),
 ('Brian', 'Anderson', 109000, 0, 1993),
 ('Dave', 'Anderson', 350000, 3, 1992),
 ('Dave', 'Anderson', 600000, 2, 1991),
 ('Dave', 'Anderson', 500000, 1, 1990),
 ('Dave', 'Anderson', 420000, 1, 1989),
 ('Dave', 'Anderson', 262500, 2, 1988),
 ('Dave', 'Anderson', 225000, 1, 1987),
 ('Dave', 'Anderson', 200000, 1, 1986),
 ('Garret', 'Anderson', 4500000, 28, 2001),
 ('Garret', 'Anderson', 3250000, 35, 2000),
 ('Garret', 'Anderson', 2200000, 21, 1999),
 ('Garret', 'Anderson', 1500000, 15, 1998),
 ('Garret', 'Anderson', 600000, 8, 1997),
 ('Garret', 'Anderson', 250000, 12, 1996),
 ('Garret', 'Anderson', 114000, 16, 1995),
 ('Garret', 'Anderson', 109000, 0, 1994),
 ('Jimmy', 'Anderson', 285000, 0, 2001),
 ('Jimmy', 'Anderson', 215000, 0, 2000),
 ('Jimmy', 'Anderson', 200000, 0, 1999),
 ('Kent', 'Anderson', 105000, 1, 1990),
 ('Kent', 'Anderson', 68000, 0, 1989),
 ('Larry', 'Andersen', 350000, 0, 1994),
 ('Larry', 'Andersen', 700000, 0, 1993),
 ('Larry', 'Andersen', 2000000, 0, 1992),
 ('Larry', 'Andersen', 2000000, 0, 1991),
 ('Larry', 'Andersen', 965000, 0, 1990),
 ('Larry', 'Andersen', 965000, 0, 1990),
 ('Larry', 'Andersen', 475000, 0, 1989),
 ('Larry', 'Andersen', 450000, 0, 1988),
 ('Larry', 'Andersen', 300000, 0, 1987),
 ('Larry', 'Andersen', 240000, 0, 1986),
 ('Larry', 'Andersen', 240000, 0, 1986),
 ('Larry', 'Andersen', 60000, 0, 1986),
 ('Larry', 'Andersen', 60000, 0, 1986),
 ('Larry', 'Andersen', 250500, 0, 1985),
 ('Matt', 'Anderson', 355000, 0, 2001),
 ('Matt', 'Anderson', 255000, 0, 2000),
 ('Matt', 'Anderson', 240000, 0, 1999),
 ('Matt', 'Anderson', 170000, 0, 1998),
 ('Marlon', 'Anderson', 280000, 11, 2001),
 ('Marlon', 'Anderson', 200000, 5, 1999),
 ('Shane', 'Andrews', 1000000, 14, 2000),
 ('Shane', 'Andrews', 1250000, 11, 1999),
 ('Shane', 'Andrews', 1250000, 5, 1999),
 ('Shane', 'Andrews', 450000, 25, 1998),
 ('Shane', 'Andrews', 225000, 4, 1997),
 ('Shane', 'Andrews', 135000, 19, 1996),
 ('Shane', 'Andrews', 109000, 8, 1995),
 ('Joaquin', 'Andujar', 450000, 0, 1988),
 ('Joaquin', 'Andujar', 1353333, 0, 1987),
 ('Joaquin', 'Andujar', 1233333, 0, 1986),
 ('Joaquin', 'Andujar', 1030000, 0, 1985),
 ('Luis', 'Andujar', 170000, 0, 1997),
 ('Rick', 'Ankiel', 400000, 0, 2001),
 ('Rick', 'Ankiel', 202500, 2, 2000),
 ('Rick', 'Ankiel', 200000, 0, 1999),
 ('Eric', 'Anthony', 1025000, 8, 1996),
 ('Eric', 'Anthony', 1025000, 4, 1996),
 ('Eric', 'Anthony', 575000, 5, 1995),
 ('Eric', 'Anthony', 1100000, 10, 1994),
 ('Eric', 'Anthony', 350000, 15, 1993),
 ('Eric', 'Anthony', 120000, 19, 1992),
 ('Eric', 'Anthony', 115000, 1, 1991),
 ('Eric', 'Anthony', 68000, 4, 1989),
 ('Kevin', 'Appier', 8500000, 0, 2001),
 ('Kevin', 'Appier', 5600000, 0, 2000),
 ('Kevin', 'Appier', 4800000, 0, 1999),
 ('Kevin', 'Appier', 4800000, 0, 1999),
 ('Kevin', 'Appier', 4800000, 0, 1998),
 ('Kevin', 'Appier', 4800000, 0, 1997),
 ('Kevin', 'Appier', 5051250, 0, 1996),
 ('Kevin', 'Appier', 4387500, 0, 1995),
 ('Kevin', 'Appier', 3800000, 0, 1994),
 ('Kevin', 'Appier', 2000000, 0, 1993),
 ('Kevin', 'Appier', 390000, 0, 1992),
 ('Kevin', 'Appier', 215000, 0, 1991),
 ('Kevin', 'Appier', 100000, 0, 1990),
 ('Luis', 'Aquino', 420000, 0, 1995),
 ('Luis', 'Aquino', 420000, 0, 1995),
 ('Luis', 'Aquino', 575000, 0, 1994),
 ('Luis', 'Aquino', 735000, 0, 1993),
 ('Luis', 'Aquino', 650000, 0, 1992),
 ('Luis', 'Aquino', 160000, 0, 1991),
 ('Luis', 'Aquino', 108000, 0, 1990),
 ('Luis', 'Aquino', 68000, 0, 1989),
 ('Alex', 'Arias', 550000, 2, 2001),
 ('Alex', 'Arias', 550000, 2, 2000),
 ('Alex', 'Arias', 625000, 4, 1999),
 ('Alex', 'Arias', 425000, 1, 1998),
 ('Alex', 'Arias', 450000, 1, 1997),
 ('Alex', 'Arias', 412500, 3, 1996),
 ('Alex', 'Arias', 200000, 3, 1995),
 ('Alex', 'Arias', 155000, 0, 1994),
 ('Alex', 'Arias', 123000, 2, 1993),
 ('George', 'Arias', 215000, 7, 1999),
 ('George', 'Arias', 181000, 1, 1998),
 ('George', 'Arias', 109000, 6, 1996),
 ('Tony', 'Armas', 525000, 11, 1989),
 ('Tony', 'Armas', 100000, 13, 1988),
 ('Tony', 'Armas', 62500, 3, 1987),
 ('Tony', 'Armas', 1000000, 11, 1986),
 ('Tony', 'Armas', 915000, 23, 1985),
 ('Tony', 'Armas', 230000, 0, 2001),
 ('Tony', 'Armas', 200000, 0, 2000),
 ('Jack', 'Armstrong', 1150000, 0, 1994),
 ('Jack', 'Armstrong', 854545, 0, 1993),
 ('Jack', 'Armstrong', 281545, 0, 1992),
 ('Jack', 'Armstrong', 215000, 0, 1991),
 ('Jack', 'Armstrong', 107500, 0, 1990),
 ('Tony', 'Arnold', 62500, 0, 1987),
 ('Brad', 'Arnsberg', 150000, 0, 1992),
 ('Brad', 'Arnsberg', 287500, 0, 1991),
 ('Brad', 'Arnsberg', 107500, 0, 1990),
 ('Brad', 'Arnsberg', 68000, 0, 1987),
 ('Rene', 'Arocha', 195000, 0, 1995),
 ('Rene', 'Arocha', 160000, 0, 1994),
 ('Rene', 'Arocha', 109000, 0, 1993),
 ('Rolando', 'Arrojo', 1625000, 0, 2001),
 ('Rolando', 'Arrojo', 325000, 0, 2000),
 ('Rolando', 'Arrojo', 325000, 0, 2000),
 ('Rolando', 'Arrojo', 250000, 0, 1999),
 ('Rolando', 'Arrojo', 245000, 0, 1998),
 ('Bronson', 'Arroyo', 225000, 0, 2001),
 ('Alan', 'Ashby', 450000, 7, 1988),
 ('Alan', 'Ashby', 575000, 14, 1987),
 ('Alan', 'Ashby', 525000, 7, 1986),
 ('Alan', 'Ashby', 416667, 8, 1985),
 ('Andy', 'Ashby', 6000000, 0, 2001),
 ('Andy', 'Ashby', 5900000, 0, 2000),
 ('Andy', 'Ashby', 5900000, 0, 2000),
 ('Andy', 'Ashby', 5050000, 0, 1999),
 ('Andy', 'Ashby', 4125000, 0, 1998),
 ('Andy', 'Ashby', 3400000, 0, 1997),
 ('Andy', 'Ashby', 2000000, 0, 1996),
 ('Andy', 'Ashby', 755000, 0, 1995),
 ('Andy', 'Ashby', 225000, 0, 1994),
 ('Andy', 'Ashby', 150000, 0, 1993),
 ('Andy', 'Ashby', 150000, 0, 1993),
 ('Andy', 'Ashby', 109000, 0, 1992),
 ('Billy', 'Ashley', 275000, 6, 1997),
 ('Billy', 'Ashley', 195000, 9, 1996),
 ('Billy', 'Ashley', 136000, 8, 1995),
 ('Billy', 'Ashley', 134000, 0, 1994),
 ('Billy', 'Ashley', 124000, 0, 1993),
 ('Paul', 'Assenmacher', 1507000, 0, 1999),
 ('Paul', 'Assenmacher', 1325000, 0, 1998),
 ('Paul', 'Assenmacher', 875000, 0, 1997),
 ('Paul', 'Assenmacher', 871400, 0, 1996),
 ('Paul', 'Assenmacher', 1287000, 0, 1995),
 ('Paul', 'Assenmacher', 2637334, 0, 1994),
 ('Paul', 'Assenmacher', 2665333, 0, 1993),
 ('Paul', 'Assenmacher', 2665333, 0, 1993),
 ('Paul', 'Assenmacher', 1913333, 0, 1992),
 ('Paul', 'Assenmacher', 1110000, 0, 1991),
 ('Paul', 'Assenmacher', 450000, 0, 1990),
 ('Paul', 'Assenmacher', 271000, 0, 1989),
 ('Paul', 'Assenmacher', 271000, 0, 1989),
 ('Paul', 'Assenmacher', 81000, 0, 1988),
 ('Paul', 'Assenmacher', 80000, 0, 1987),
 ('Paul', 'Assenmacher', 60000, 0, 1986),
 ('Pedro', 'Astacio', 6850000, 0, 2001),
 ('Pedro', 'Astacio', 6850000, 0, 2001),
 ('Pedro', 'Astacio', 6350000, 0, 2000),
 ('Pedro', 'Astacio', 6150000, 0, 1999),
 ('Pedro', 'Astacio', 3350000, 0, 1998),
 ('Pedro', 'Astacio', 2900000, 0, 1997),
 ('Pedro', 'Astacio', 2900000, 0, 1997),
 ('Pedro', 'Astacio', 1100000, 0, 1996),
 ('Pedro', 'Astacio', 425000, 0, 1995),
 ('Pedro', 'Astacio', 325000, 0, 1994),
 ('Pedro', 'Astacio', 136000, 0, 1993),
 ('Keith', 'Atherton', 345000, 0, 1988),
 ('Keith', 'Atherton', 300000, 0, 1987),
 ('Keith', 'Atherton', 183700, 0, 1986),
 ('Keith', 'Atherton', 183700, 0, 1986),
 ('Keith', 'Atherton', 107333, 0, 1985),
 ('Don', 'August', 170000, 0, 1990),
 ('Rich', 'Aurilia', 3250000, 37, 2001),
 ('Rich', 'Aurilia', 1550000, 20, 2000),
 ('Rich', 'Aurilia', 950000, 22, 1999),
 ('Rich', 'Aurilia', 265000, 9, 1998),
 ('Rich', 'Aurilia', 175000, 5, 1997),
 ('Rich', 'Aurilia', 110500, 3, 1996),
 ('Rich', 'Aurilia', 109000, 2, 1995),
 ('Joe', 'Ausanio', 110000, 0, 1995),
 ('Brad', 'Ausmus', 4250000, 5, 2001),
 ('Brad', 'Ausmus', 4000000, 7, 2000),
 ('Brad', 'Ausmus', 2200000, 9, 1999),
 ('Brad', 'Ausmus', 1600000, 6, 1998),
 ('Brad', 'Ausmus', 1075000, 4, 1997),
 ('Brad', 'Ausmus', 350000, 4, 1996),
 ('Brad', 'Ausmus', 350000, 1, 1996),
 ('Brad', 'Ausmus', 197000, 5, 1995),
 ('Brad', 'Ausmus', 133500, 7, 1994),
 ('Brad', 'Ausmus', 109000, 5, 1993),
 ('Jim', 'Austin', 150000, 0, 1993),
 ('Jim', 'Austin', 109000, 0, 1992),
 ('Bruce', 'Aven', 320000, 5, 2000),
 ('Bruce', 'Aven', 320000, 2, 2000),
 ('Bruce', 'Aven', 200000, 12, 1999),
 ('Steve', 'Avery', 750000, 0, 1999),
 ('Steve', 'Avery', 3900000, 0, 1998),
 ('Steve', 'Avery', 4850000, 0, 1997),

## 11
You need a player that can get hits. Who might be the most underrated? In `11.sql` , write a SQL query to find the 10 least expensive players per hit in 2001.

- Your query should return a table with three columns, one for the players’ first names, one of their last names, and one called “dollars per hit”.
- You can calculate the “dollars per hit” column by dividing a player’s 2001 salary by the number of hits they made in 2001. Recall you can use AS to rename a column.
- Dividing a salary by 0 hits will result in a NULL value. Avoid the issue by filtering out players with 0 hits.
- Sort the table by the “dollars per hit” column, least to most expensive. If two players have the same “dollars per hit”, order by first name, followed by last name, in alphabetical order.
- As in `10.sql` , ensure that the salary’s year and the performance’s year match.
- You may assume, for simplicity, that a player will only have one salary and one performance in 2001.

In [35]:
%%sql
SELECT
    "players"."first_name",
    "players"."last_name",
    "salaries"."salary" / "performances"."H" AS "dollars per hit"
FROM "players"
JOIN "salaries" ON "players"."id" = "salaries"."player_id"
JOIN "performances" ON "players"."id" = "performances"."player_id"
                   AND "salaries"."year" = "performances"."year"
                   AND "salaries"."team_id" = "performances"."team_id"
WHERE "salaries"."year" = 2001
  AND "performances"."H" > 0
ORDER BY
    "dollars per hit" ASC,
    "players"."first_name" ASC,
    "players"."last_name" ASC
LIMIT 10;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[('Albert', 'Pujols', 1030),
 ('Juan', 'Pierre', 1064),
 ('Jimmy', 'Rollins', 1111),
 ('David', 'Eckstein', 1204),
 ('Doug', 'Mientkiewicz', 1295),
 ('Luis', 'Rivas', 1333),
 ('Terrence', 'Long', 1352),
 ('Paul', 'Lo Duca', 1564),
 ('Torii', 'Hunter', 1564),
 ('Aramis', 'Ramirez', 1574)]

## 12 
Hits are great, but so are RBIs! In `12.sql` , write a SQL query to find the players among the 10 least expensive players per hit and among the 10 least expensive players per RBI in 2001.

- Your query should return a table with two columns, one for the players’ first names and one of their last names.
- You can calculate a player’s salary per RBI by dividing their 2001 salary by their number of RBIs in 2001.
- You may assume, for simplicity, that a player will only have one salary and one performance in 2001.
- Order your results by player ID, least to greatest (or alphabetically by last name, as both are the same in this case!).
- Keep in mind the lessons you’ve learned in `10.sql`  and `11.sql` !

In [37]:
%%sql
SELECT
    "players"."first_name",
    "players"."last_name"
FROM "players"
JOIN (
    SELECT "players"."id"
    FROM "players"
    JOIN "salaries" ON "players"."id" = "salaries"."player_id"
    JOIN "performances" ON "players"."id" = "performances"."player_id"
                       AND "salaries"."year" = "performances"."year"
                       AND "salaries"."team_id" = "performances"."team_id"
    WHERE "salaries"."year" = 2001
      AND "performances"."H" > 0
    ORDER BY "salaries"."salary" / "performances"."H" ASC
    LIMIT 10
) AS "hit_players" ON "players"."id" = "hit_players"."id"
JOIN (
    SELECT "players"."id"
    FROM "players"
    JOIN "salaries" ON "players"."id" = "salaries"."player_id"
    JOIN "performances" ON "players"."id" = "performances"."player_id"
                       AND "salaries"."year" = "performances"."year"
                       AND "salaries"."team_id" = "performances"."team_id"
    WHERE "salaries"."year" = 2001
      AND "performances"."RBI" > 0
    ORDER BY "salaries"."salary" / "performances"."RBI" ASC
    LIMIT 10
) AS "rbi_players" ON "players"."id" = "rbi_players"."id"
ORDER BY "players"."id" ASC;

 * sqlite:///../databases/moneyball.db?check_same_thread=false

[('Torii', 'Hunter'),
 ('Paul', 'Lo Duca'),
 ('Terrence', 'Long'),
 ('Doug', 'Mientkiewicz'),
 ('Albert', 'Pujols'),
 ('Aramis', 'Ramirez')]