In [1]:
import sqlite3

In [1]:
db = "./mbta.db"

In [2]:
%load_ext sql
%config SqlMagic.feedback=False
%sql sqlite:///{db}?check_same_thread=false
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///./mbta.db?check_same_thread=false

[]

In [3]:
%%sql
CREATE TABLE "riders" (
    "id",
    "name"
);

 * sqlite:///./mbta.db?check_same_thread=false

[]

In [4]:
%%sql
CREATE TABLE "stations" (
    "id",
    "name",
    "line"
);

 * sqlite:///./mbta.db?check_same_thread=false

[]

In [5]:
%%sql
CREATE TABLE "visits" (
    "rider_id",
    "station_id"
);

 * sqlite:///./mbta.db?check_same_thread=false

[]

In [6]:
%%sql
DROP TABLE "visits";

 * sqlite:///./mbta.db?check_same_thread=false

[]

In [7]:
%%sql
DROP TABLE "stations";

 * sqlite:///./mbta.db?check_same_thread=false

[]

In [8]:
%%sql
DROP TABLE "riders";

 * sqlite:///./mbta.db?check_same_thread=false

[]

In [ ]:
%%sql
CREATE TABLE "riders" (
    "id" INTEGER,
    "name" TEXT,
    PRIMARY KEY("id")
);

CREATE TABLE "stations" (
    "id" INTEGER,
    "name" TEXT NOT NULL UNIQUE,
    "line" TEXT NOT NULL,
    PRIMARY KEY("id")
);

CREATE TABLE "visits" (
    "rider_id" INTEGER,
    "station_id" TEXT,
    FOREIGN KEY("rider_id") REFERENCES "riders"("id"),
    FOREIGN KEY("station_id") REFERENCES "stations"("id")
);

 * sqlite:///./mbta.db?check_same_thread=false

[]

In [ ]:
%%sql